@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_shop";
    Layout = "~/Views/Shared/_Layout_Active_web.cshtml";
    List<ProductEntity> list = (List<ProductEntity>)ViewBag.Product;
    PagerInfo p = (PagerInfo)ViewBag.Pager;
}


<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>非极致不登台图录 - 建盏君</title>
    <meta name="keywords" content="非极致不登台" />
    <meta name="description" content="非极致不登台" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="~/source/static/css/1905_base_1_30.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/1905_style.css">
    <link rel="stylesheet" href="~/source/static/css/1905_pagination.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/style-index.css" type="text/css" />
    <style>
        body {
            background: #fff;
            max-width: 750px;
            margin: auto;
            /*-webkit-overflow-scrolling: touch;*/
        }

        .store-con .list1 {
            height: auto;
        }

        .store-con {
            /* overflow: hidden; */
        }

        #mark .markitem {
            color: #999;
            font-size: .24rem;
            text-align: center;
            float: left;
            width: 24.5%;
            height: .8rem;
            line-height: .8rem;
            border-bottom: 1px solid #f6f6f6;
            border-right: 1px solid #f6f6f6;
        }



            #mark .markitem:nth-child(4n+4) {
                border-right: 1px solid #fff;
            }

            #mark .markitem:nth-child() {
                border-right: 1px solid #fff;
            }

        .active {
            color: #bd2727 !important;
        }

        .nb {
            border-bottom: 1px solid #fff !important;
        }
		
		.list1 .item1 {
    text-align: center;
    width: 49%;
    float: left;
    height: 5rem;
    padding-top: .2rem;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

    </style>
</head>

<body>
    <header>
        <div class="flex-row college-hd">    
            <div class="back"><a href="/W11/paimai?telephone=13916116545&author=" style="color: #ffffff;">首页</a></div>
            <div class="txt px36">拍卖图录</div>
            <div class="menu">
                
            </div>
        </div>
    </header>
    <div class="div-h-8"></div>
	<div class="div-h-2"></div>
    <div class="banner">
        <img src="~/source/static/images/pc/paimai.jpg" alt="" />
    </div>
    <section class="store-wrap">
        <div class="store-tab">
            <input type="hidden" id="hid_telephone" value="@ViewBag.telephone" />
            <input type="hidden" id="hid_yjds" value="@ViewBag.YJDSJson" />
            <input type="hidden" id="hid_lpccr" value="@ViewBag.LPCCRJson" />
            <input type="hidden" id="hid_mjgys" value="@ViewBag.MJGYSJson" />
            <input type="hidden" id="hid_qx" value="@ViewBag.QXJson" />
            <input type="hidden" id="hid_ys" value="@ViewBag.YSJson" />
            <div class="tab-item @(ViewBag.ArtisanType == "业界大师"?"active":"")" id="div_yjds"><span>业界大师</span></div>
            <div class="tab-item @(ViewBag.ArtisanType == "老牌传承人" ? "active" : "")" id="div_lpccr"><span>老牌传承人</span></div>
            <div class="tab-item @(ViewBag.ArtisanType == "茶具/茶叶" ? "active" : "")" id="div_mjgys"><span>茶具/茶叶</span></div>
            <div class="tab-item @(ViewBag.ArtisanType == "器形/釉色" ? "active" : "")" id="div_qxys"><span>器形/釉色</span></div>
        </div>
        <div id="mark" style="background: rgba(0,0,0,.5);width: 100%;position: absolute;z-index: 1;display: none">
            <div style="padding: .2rem .32rem 0.1rem; background:white;overflow: hidden;" id="div_showinfo">
                <div class="markitem">
                    兔毫
                </div>

            </div>
        </div>
    </section>
    <div class="store-con">
        <p style="padding-top: .08rem; padding-left: 0.6rem;"><span>@(ViewBag.Keyword)</span> 甄选出<span style="color:red">@(p.SumCount)</span>款 <a href="/W11/paimai?telephone=13916116545&author=">看全部老师</a></p><br />
        <div class="part1" style="height:100%;overflow:auto">          
            <div class="list1">
                @if(list!=null&&list.Count>0)
                { 
                    foreach(ProductEntity entity in list)
                    { 
                        <div class="item1">
                            <div style="margin: 0 .1rem">
                                <div class="t1 color_red_c9">ID:@entity.ProductID</div>
                                <a href="/W11/paimaidetail?productid=@(entity.ProductID)">
                                    <div class="pimg" style="background: url(@entity.Images) no-repeat"></div>
                                </a>
                                <div class="t1 clamp1">【@entity.Author】</div>
                                <div class="t1 clamp1">@entity.ProductName</div>
                                <a href="/W11/paimaidetail?productid=@(entity.ProductID)"><img class="bt-zx" src="~/source/static/images/jianzhan/chakan.png"></a>
                            </div>
                        </div>
                    }
                }
            </div>
            <!-- 分页器 -->
			<p style="padding-top: .18rem; padding-left: 0.6rem;">每页12款</p>
            @{ Html.RenderPartial("../Pager_mm", p); }                           
            <div class="div-h-8"></div>
        </div>
    </div>
    <!-- 底部导航 -->
</body>

</html>
<script src="~/source/static/js/jquery-2.1.4.js"></script>
<script src="~/source/ProductInfo_Active.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        productinfo.init();
    });
</script>