@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "产品更新";
    List<BaseDataEntity> listType2 = ((List<BaseDataEntity>)ViewBag.Type2) ?? new List<BaseDataEntity>();
    List<BaseDataEntity> listType3 = ((List<BaseDataEntity>)ViewBag.Type3) ?? new List<BaseDataEntity>();
    List<BaseDataEntity> listType4 = ((List<BaseDataEntity>)ViewBag.Type4) ?? new List<BaseDataEntity>();
    List<BaseDataEntity> listType5 = ((List<BaseDataEntity>)ViewBag.Type5) ?? new List<BaseDataEntity>();
    List<BaseDataEntity> listType6 = ((List<BaseDataEntity>)ViewBag.Type6) ?? new List<BaseDataEntity>();
    List<BaseDataEntity> listType7 = ((List<BaseDataEntity>)ViewBag.Type7) ?? new List<BaseDataEntity>();
    ProductEntity entity = (ProductEntity)ViewBag.Product;    
}
@section Header{
    <link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <style>
        .picRemove {
            height: 15px;
            width: 15px;
            background-color: #e4e5e6;
            position: absolute;
            margin-top: 15px;
            /*filter: alpha(opacity:70);
            opacity: 0.7;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;*/
        }
    </style>
}
<div class="row-fluid">
    <form class="form-horizontal" id="productForm" action="/Product/Modify" method="post">
        <div class="widget widget-padding span12">
            <div class="widget-header" style="margin-top:30px">
                <i class="icon-list-alt"></i><h5>产品更新</h5>
            </div>
            <div class="widget-body" style="overflow: hidden; display: block;">
                <div class="widget-forms clearfix">
                    <input type="hidden" id="InventoryCount" name="InventoryCount" value="@entity.InventoryCount" />
                    <input type="hidden" id="ID" name="ID" value="@entity.ID">
                    <div class="control-group">
                        <label class="control-label">产品编号</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="产品编号" id="ProductID" name="ProductID" value="@entity.ProductID" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">产品名称</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="产品名称" id="ProductName" name="ProductName" value="@entity.ProductName" maxlength="100">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">副标题</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="副标题" id="SubTitle" name="SubTitle" value="@entity.SubTitle" maxlength="100">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">工艺釉色</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="Type2" name="Type2">
                                <option value="">--工艺釉色--</option>
                                @foreach (var item in listType2)
                                {
                                    <option value="@item.ValueInfo" @(entity.Type2 == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">器型</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="Type3" name="Type3">
                                <option value="">--器型--</option>
                                @foreach (var item in listType3)
                                {
                                    <option value="@item.ValueInfo" @(entity.Type3 == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">口径</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="Type4" name="Type4">
                                <option value="">--口径--</option>
                                @foreach (var item in listType4)
                                {
                                    <option value="@item.ValueInfo" @(entity.Type4 == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">用途功能</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="Type5" name="Type5">
                                <option value="">--用途功能--</option>
                                @foreach (var item in listType5)
                                {
                                    <option value="@item.ValueInfo" @(entity.Type5 == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">传世老盏</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="Type6" name="Type6">
                                <option value="">--传世老盏--</option>
                                @foreach (var item in listType6)
                                {
                                    <option value="@item.ValueInfo" @(entity.Type6 == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">价格区间</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="Type7" name="Type7">
                                <option value="">--价格区间--</option>
                                @foreach (var item in listType7)
                                {
                                    <option value="@item.ValueInfo" @(entity.Type7 == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">身份图片</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="身份图片" id="Images" name="Images" value="@entity.Images" maxlength="200">
                            <div class="lcQueryItem">
                                <div class="upImg">上传图片<input type="file" class="upfile"></div>
                            </div>
                            <img id="img_Url" src="@(!string.IsNullOrEmpty(entity.Images) ? entity.Images : "")" style="display:@(!string.IsNullOrEmpty(entity.Images) ? "" : "none")" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">摘要</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="摘要" id="Introduction" name="Introduction" value="@entity.Introduction" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">产品描述</label>
                        <div class="controls">
                            <span id="span_summary" style="display:none;">@entity.summary</span>
                            <input class="span5" type="hidden" id="summary" name="summary">
                            <asp:TextBox ID="txt_summary" name="txt_summary" runat="server" TextMode="MultiLine" value="@entity.summary" Height="400px" Width="600px" ClientIDMode="Static"></asp:TextBox>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">详细介绍</label>
                        <div class="controls">
                            <span id="showcode" style="display:none;">@entity.ProductDetail</span>
                            <input class="span5" type="hidden" id="ProductDetail" name="ProductDetail">
                            <asp:TextBox ID="txt_ProductDetail" name="txt_ProductDetail" runat="server" TextMode="MultiLine" Height="400px" value="@entity.ProductDetail" Width="600px" ClientIDMode="Static"></asp:TextBox>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">口径尺寸</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="口径尺寸" id="Volume" name="Volume" value="@entity.Volume" maxlength="20">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">成本价</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="成本价" id="CostPrice" name="CostPrice" value="@(string.IsNullOrEmpty(entity.CostPrice) ? "0" : entity.CostPrice)" maxlength="20">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">市场价</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="市场价" id="MarketPrice" name="MarketPrice" value="@(string.IsNullOrEmpty(entity.MarketPrice) ? "0" : entity.MarketPrice)" maxlength="20">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">最低价</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="最低价" id="LowPrice" name="LowPrice" value="@(string.IsNullOrEmpty(entity.LowPrice) ? "0" : entity.LowPrice)" maxlength="20">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">作者</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="作者" id="Author" name="Author" value="@entity.Author" maxlength="20">
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-footer">
                <button class="btn btn-primary" type="button" id="save">保存</button>
                <button class="btn btn-primary" type="button" id="goback">返回</button>
            </div>
        </div>
    </form>



</div>
<div class="window-mask" style="display:none"></div>
<div id="imgContainer" style="z-index:999;display:none">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <div class="widget-buttons">
                    <a href="javascript:void(0)" id="closeDeal"><i class="icon-remove"></i>关闭</a>
                </div>
            </div>
            <div class="widget-body" id="imgshow" style="text-align: center;"></div>
        </div>
    </div>
</div>
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    //详细介绍
    var ues = UE.getEditor('txt_ProductDetail');//初始化对象
    $(document).ready(function () {
        var ues = UE.getEditor('txt_ProductDetail');
        var proinfo = $("#showcode").text();

        ues.ready(function () {//编辑器初始化完成再赋值
            ues.setContent(proinfo);  //赋值给UEditor
        });

    });

    //产品描述
    var ues = UE.getEditor('txt_summary');//初始化对象
    $(document).ready(function () {
        var ues = UE.getEditor('txt_summary');
        var proinfo = $("#span_summary").text();

        ues.ready(function () {//编辑器初始化完成再赋值
            ues.setContent(proinfo);  //赋值给UEditor
        });

    });

    jQuery("#save").click(function () {
        var arr = [];
        arr.push(UE.getEditor('txt_summary').getContent());
        jQuery("#summary").val(arr.join("\n"));

        var arr1 = [];
        arr1.push(UE.getEditor('txt_summary').getContent());
        jQuery("#ProductDetail").val(arr1.join("\n"));

        jQuery("#productForm").submit();


    });

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('txt_summary');


    function isFocus(e) {
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e) {
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData() {
        alert(UE.getEditor('editor').execCommand("getlocaldata"));
    }

    function clearLocalData() {
        UE.getEditor('editor').execCommand("clearlocaldata");
        alert("已清空草稿箱")
    }


    //点击上传图片
    $(".lcQueryItem").on("change", ".upfile", function () {
        var formData = new FormData();

        formData.append('file', $(this)[0].files[0]);
        formData.append('dataId', $("#ID").val());
        formData.append('type', "Product");

        var fileType = $(this)[0].files[0].name.split(".");
        fileType = fileType[fileType.length - 1];

        if (fileType == "png" || fileType == "jpg") {
            $.ajax({
                url: "/Upload/UploadFile/",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (res) {
                if ("" != res) {
                    console.log(res);
                    $("#img_Url").show();
                    $("#img_Url").attr("src", res);
                }
            }).fail(function (res) {
                console.log(res);       
            });
        } else {
            alert("请上传png,jpg格式的图片")
        }
    })
</script>

}
