@{
    ViewBag.Title = "Auto";
    Layout = null;
}

<h2>自动执行</h2>
<table border="0" cellpadding="0" cellspacing="0" style="width:60%">
    <tr>
        <td>@Html.ActionLink("WAP首页", "AutoHtml", new { type = "index" })</td>
        <td>@Html.ActionLink("WAP商城", "AutoHtml", new { type = "shop" })</td>
        <td>@Html.ActionLink("WAP名家名堂", "AutoHtml", new { type = "famous" })</td>
        <td>@Html.ActionLink("WAP器型釉色", "AutoHtml", new { type = "gyys" })</td>
        <td>@Html.ActionLink("WAP学院", "AutoHtml", new { type = "college" })</td>
        <td>@Html.ActionLink("WAP收藏阁", "AutoHtml", new { type = "souchang" })</td>
    </tr>
	<br /><br />
    <tr>
        <td>@Html.ActionLink("WAP所有产品", "AutoHtml", new { type = "allProduct" })</td>
        <td>@Html.ActionLink("WAP所有艺人", "AutoHtml", new { type = "allfamous" })</td>
        <td>@Html.ActionLink("WAP所有新闻", "AutoHtml", new { type = "allnews" })</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("PC首页", "AutoHtml", new { type = "pc_index" })</td>
        <td>@Html.ActionLink("PC商城", "AutoHtml", new { type = "pc_shop" })</td>
        <td>@Html.ActionLink("PC名家名堂", "AutoHtml", new { type = "pc_famous" })</td>
        <td>@Html.ActionLink("PC器型釉色", "AutoHtml", new { type = "pc_gyys" })</td>
        <td>@Html.ActionLink("PC学院", "AutoHtml", new { type = "pc_college" })</td>
        <td>@Html.ActionLink("PC收藏阁", "AutoHtml", new { type = "pc_souchang" })</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("PC所有产品", "AutoHtml", new { type = "pc_allProduct" })</td>
        <td>@Html.ActionLink("PC所有艺人", "AutoHtml", new { type = "pc_allfamous" })</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("缓存清理", "AutoHtml", new { type = "clearCache" })</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("推广页面", "AutoHtml", new { type = "adextend" })</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("推广首页", "AutoHtml", new { type = "index",paramper="ad" })</td>
        <td>@Html.ActionLink("推广商城", "AutoHtml", new { type = "shop", paramper = "ad" })</td>
        <td>@Html.ActionLink("推广名家名堂", "AutoHtml", new { type = "famous", paramper = "ad" })</td>
        <td>@Html.ActionLink("推广器型釉色", "AutoHtml", new { type = "gyys", paramper = "ad" })</td>
        <td>@Html.ActionLink("推广学院", "AutoHtml", new { type = "college", paramper = "ad" })</td>
        <td>@Html.ActionLink("推广收藏阁", "AutoHtml", new { type = "souchang", paramper = "ad" })</td>
    </tr>
    <br />
    <br />
    <tr>
        <td>@Html.ActionLink("推广所有产品", "AutoHtml", new { type = "allProduct", paramper = "ad" })</td>
        <td>@Html.ActionLink("推广所有艺人", "AutoHtml", new { type = "allfamous", paramper = "ad" })</td>
        <td>@Html.ActionLink("推广所有新闻", "AutoHtml", new { type = "allnews", paramper = "ad" })</td>
        <td></td>
        <td></td>
    </tr>
</table>

