@{
    ViewBag.Title = "Auto";
    Layout = null;
}

<h2>自动执行</h2>
<table border="0" cellpadding="0" cellspacing="0" style="width:60%">
    <tr>
        <td>@Html.ActionLink("首页", "AutoHtml", new { type = "index" })</td>
        <td>@Html.ActionLink("商城", "AutoHtml", new { type = "shop" })</td>
        <td>@Html.ActionLink("学堂", "AutoHtml", new { type = "famous" })</td>
        <td>@Html.ActionLink("工艺釉色", "AutoHtml", new { type = "gyys" })</td>
        <td>@Html.ActionLink("学院", "AutoHtml", new { type = "college" })</td>
        <td>@Html.ActionLink("收藏", "AutoHtml", new { type = "souchang" })</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("所有产品", "AutoHtml", new { type = "allProduct" })</td>
        <td>@Html.ActionLink("所有艺人", "AutoHtml", new { type = "allfamous" })</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("PC首页", "AutoHtml", new { type = "pc_index" })</td>
        <td>@Html.ActionLink("PC商城", "AutoHtml", new { type = "pc_shop" })</td>
        <td>@Html.ActionLink("PC学堂", "AutoHtml", new { type = "pc_famous" })</td>
        <td>@Html.ActionLink("PC工艺釉色", "AutoHtml", new { type = "pc_gyys" })</td>
        <td>@Html.ActionLink("PC学院", "AutoHtml", new { type = "pc_college" })</td>
        <td>@Html.ActionLink("PC收藏", "AutoHtml", new { type = "pc_souchang" })</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("PC所有产品", "AutoHtml", new { type = "pc_allProduct" })</td>
        <td>@Html.ActionLink("PC所有艺人", "AutoHtml", new { type = "pc_allfamous" })</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>

