@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_college";
    Layout = "~/Views/Shared/_Layout_web.cshtml";
    List<ArticleEntity> list = (List<ArticleEntity>)ViewBag.ArticleList;
    PagerInfo p = (PagerInfo)ViewBag.Pager;
}


<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>建盏学院 - 建盏天下网</title>
    <meta name="keywords" content="建盏知识,选盏技巧,建盏新闻,建盏百科,建盏文化" />
    <meta name="description" content="建盏学院是建盏天下网传播千年的建盏文化和历史，共六大板块：建盏工艺，选盏技巧，百科知识，建盏新闻，拍卖行情，建盏历史，一站式指导盏友们如何鉴赏和入门的频道。" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="~/source/static/css/1905_base_1_30.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/1905_style.css">
    <link rel="stylesheet" href="~/source/static/css/style-index.css" type="text/css" />
    <link rel="stylesheet" href="~/source/static/css/1905_pagination.css" type="text/css">
    <style>
        body {
            background: #fff;
            max-width: 750px;
            margin: auto;
            /*-webkit-overflow-scrolling: touch;*/
        }

        .con-txt a {
            position: absolute;
            bottom: .52rem;
            right: 0.2rem;
            background: white;
            height: .3rem;
            line-height: .3rem;
        }

        .colList-wrap .list-con:last-child {
            border-bottom: 0px;
        }
        /*.active {
            background: #b32b2b;
            color: #ffffff;
        }*/
    </style>
</head>

<body>
    <header>
        <div class="flex-row college-hd">
                <div class="back"><a href="/m_index.html" style="color: #ffffff;">返回</a></div>
                <div class="txt px36">建盏学院</div>
                <div class="menu">
                    <img src="~/source/static/images/college/menu.png" onclick="moveLeft()" alt="">
                </div>
</div>
    </header>
    <div class="div-h-8"></div>
    <section class="colList-wrap">
        <div class="tab-box" style="border-bottom:1px solid #f0f0f0;padding: .38rem .24rem;margin: 0">
            <a href="/WebHome/mn_college?category_id=1"><div class="tab-menu @(ViewBag.Category_ID == 1 ? "active" : "") ">新闻资讯</div></a>
            <a href="/WebHome/mn_college?category_id=3"><div class="tab-menu @(ViewBag.Category_ID == 3 ? "active" : "") ">拍卖行情</div></a>
            <a href="/WebHome/mn_college?category_id=5"><div class="tab-menu @(ViewBag.Category_ID == 5 ? "active" : "") ">建盏工艺</div></a>
            <a href="/WebHome/mn_college?category_id=6"><div class="tab-menu @(ViewBag.Category_ID == 6 ? "active" : "") ">百科知识</div></a>
            <a href="/WebHome/mn_college?category_id=7"><div class="tab-menu @(ViewBag.Category_ID == 7 ? "active" : "") ">选盏技巧</div></a>
            <a href="/WebHome/mn_college?category_id=8"><div class="tab-menu @(ViewBag.Category_ID == 8 ? "active" : "") ">文化历史</div></a>
        </div>
        <div class="list-box">
            @if (list != null && list.Count > 0)
            {
                foreach (ArticleEntity entity in list)
                {
                    <div class="list-con">
                        <div class="con-img">
                            <a href="/WebHome/mn_collegedetail?id=@entity.id"><img src="@entity.img_url" alt=""></a>
                        </div>
                        <div class="con-txt">
                            <h1 class="clamp1">@entity.articleTitle</h1>
                            <span>【@entity.AddDate.ToShortDateString()】</span>
                            <p>
                                @(entity.zhaiyao.Length>40?entity.zhaiyao.Substring(0,39):entity.zhaiyao)...
                                <a href="/WebHome/mn_collegedetail?id=@entity.id">查看更多></a>
                            </p>
                        </div>
                    </div>
                }
            }            
        </div>
        <!-- 分页器 -->
        @{ Html.RenderPartial("../Pager_mm", p); }
        <div class="div-h-8"></div>
    </section>    

</body>

</html>
