@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "咨询量更新";
    InquiryEntity entity = (InquiryEntity)ViewBag.Inquiry;
    List<UserEntity> userList = (List<UserEntity>)ViewBag.UserList; 
}
@section Header{
    <link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <style>
        .picRemove {
            height: 15px;
            width: 15px;
            background-color: #e4e5e6;
            position: absolute;
            margin-top: 15px;
            /*filter: alpha(opacity:70);
            opacity: 0.7;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;*/
        }
    </style>
}
<div class="row-fluid">
    <form class="form-horizontal" id="EditForm" action="/Inquiry/Modify" method="post">
        <div class="widget widget-padding span12">
            <div class="widget-header" style="margin-top:30px">
                <i class="icon-list-alt"></i><h5>咨询量更新</h5>
            </div>
            <div class="widget-body" style="overflow: hidden; display: block;">
                <div class="widget-forms clearfix">
                    <input type="hidden" id="PPId" name="PPId" value="@entity.PPId">
                    <div class="control-group">
                        <label class="control-label">产品名称/编号</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="产品名称/编号" id="ProductID" name="ProductID" value="@entity.ProductID" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">询价销售转移</label>
                        <div class="controls">
                            @*<input class="span5" type="text" placeholder="询价销售转移" id="OperatorID" name="OperatorID" value="@entity.OperatorID" maxlength="100">*@
                            <select tabindex="1" class="span2" id="OperatorID" name="OperatorID">
                                @if (userList != null && userList.Count > 0)
                                {
                                    foreach(UserEntity item in userList)
                                    {
                                        <option value="@item.UserID" @(entity.OperatorID.Equals(item.UserID.ToString()) ? "selected" : "")>@item.NickName</option>
                                    }                                    
                                }
                            </select>                            
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">客户姓名</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="客户姓名" id="CustomerName" name="CustomerName" value="@entity.CustomerName" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">电话号码</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="电话号码" id="telphone" name="telphone" value="@entity.telphone" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">电话号码2</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="电话号码2" id="CommentContent" name="CommentContent" value="@entity.CommentContent" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">QQ/微信号码</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="QQ/微信号码" id="WebChartID" name="WebChartID" value="@entity.WebChartID" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">留言内容</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="留言内容" id="InquiryContent" name="InquiryContent" value="@entity.InquiryContent" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">处理状态</label>
                        <div class="controls">
                            @*<input  type="radio" value="" />已处理
                                <input type="radio" value="" />未处理*@
                            <input type="radio" id="ProcessingState" name="ProcessingState" @(@entity.ProcessingState.Equals("1") ? "checked='checked'" : "") value="1" />已处理
                            <input type="radio" id="ProcessingState" name="ProcessingState" @(@entity.ProcessingState.Equals("0") ? "checked='checked'" : "") value="0" />未处理
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">所在地</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="省份" id="Provence" name="Provence" style="width:210px" value="@entity.Provence" maxlength="50">
                            <input class="span5" type="text" placeholder="城市" id="City" name="City" style="width:210px" value="@entity.City" maxlength="50">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">跟踪内容</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="跟踪内容" id="TraceContent" name="TraceContent" value="@entity.TraceContent" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">跟踪状态</label>
                        <div class="controls">
                            <select tabindex="1" class="span2" id="TraceState" name="TraceState">
                                <option value="有意向" @(entity.TraceState.Equals("有意向") ? "selected" : "")>--有意向--</option>
                                <option value="已成交" @(entity.TraceState.Equals("已成交") ? "selected" : "")>--已成交--</option>
                                <option value="无意向" @(entity.TraceState.Equals("无意向") ? "selected" : "")>--无意向--</option>
                                <option value="假号" @(entity.TraceState.Equals("假号") ? "selected" : "")>--假号--</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">下次回访时间</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="下次回访时间" id="NextVisitTime" name="NextVisitTime" value="@(entity.NextVisitTime > Convert.ToDateTime("2000-01-01") ? entity.NextVisitTime.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-footer">
                <button class="btn btn-primary" type="submit" id="save">保存</button>
                <button class="btn btn-primary" type="button" id="goback">返回</button>
            </div>
        </div>
    </form>



</div>
<div class="window-mask" style="display:none"></div>
<div id="imgContainer" style="z-index:999;display:none">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <div class="widget-buttons">
                    <a href="javascript:void(0)" id="closeDeal"><i class="icon-remove"></i>关闭</a>
                </div>
            </div>
            <div class="widget-body" id="imgshow" style="text-align: center;"></div>
        </div>
    </div>
</div>
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script>
    $("#goback").click(function () {
        window.location.href = "/Inquiry/";
    });
</script>









}
