@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "咨询量更新";
    InquiryEntity entity = (InquiryEntity)ViewBag.Inquiry;
    List<UserEntity> userList = (List<UserEntity>)ViewBag.UserList;
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/source/static/css/flexible_base.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1905_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/index.css" type="text/css">
    <script src="/source/static/js/flexible_css.js"></script>
    <script src="/source/static/js/flexible.js"></script>
    <link rel="stylesheet" href="/source/static/css/flexible_base.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/jquery-ui.css" type="text/css">
    <script src="/source/static/js/jquery-2.1.4.js"></script>
    <script src="/source/static/js/jquery-ui.js"></script>
    <title>首页</title>
    <style>
        html {
            background: #fafafa
        }

        .edit .cancel {
            height: .8rem;
            width: 2.7rem;
            background-color: #b3b3b3;
            line-height: .8rem;
            text-align: center;
            color: #fff;
        }

        .edit .sumbit {
            height: .8rem;
            width: 2.7rem;
            background-color: #b32b2b;
            line-height: .8rem;
            text-align: center;
            color: #fff;
        }

        .edit .ztact {
            background-color: #199fd4;
            color: #fff;
        }

        .edit .xsselect {
            width: 2rem;
            height: .706667rem;
            line-height: .706667rem;
            padding: 0 .3rem;
            border: 1px solid #ddd;
        }

        .edit .xsselect option {
            font-size: 12.5px;
        }

        [data-dpr="2"] .edit .xsselect option {
            font-size: 25px;
        }

        .city-picker-selector .selector-item {
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 200px;
            background-color: #fff;
            height: .706667rem;
            line-height: .706667rem;
            float: left;
            margin-left: 20px;
            font-size: 12.5px;
            position: relative;
        }

        [data-dpr="2"] .city-picker-selector .selector-item {
            font-size: 25px;
        }

        .city-picker-selector li {
            border-top: 1px solid #f7f7f7;
            color: #333;
            cursor: pointer;
            font-size: 12.5px;
            width: 90%;
            padding: 0 5%;
            height: .706667rem;
            line-height: .706667rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        [data-dpr="2"] .city-picker-selector li {
            font-size: 25px;
        }

        .city-picker-selector .selector-name {
            border-radius: 5px;
            color: #333;
            font-size: 12.5px;
            display: block;
            text-indent: 5%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        [data-dpr="2"] .city-picker-selector .selector-name {
            font-size: 25px;
        }

        .city-picker-selector .selector-item:after {
            top: 25px;
            right: 15px;
        }
    </style>
</head>

<body class="edit">
    <form class="form-horizontal" id="EditForm" action="/Inquiry/MobileModify" method="post">
        <div style="padding: 1rem;">
            <input type="hidden" id="AddDate" name="AddDate" value="@entity.AddDate.ToString()" />
            <input type="hidden" id="PPId" name="PPId" value="@entity.PPId">

            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="line-height:.706667rem;width:1.466667rem;">编号名称</div>
                <div style="line-height:.706667rem;height: .706667rem;" class="px25 color_9">
                    <input type="text" placeholder="产品名称/编号" id="ProductID" name="ProductID" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;text-align: left;
                border: 1px solid #ddd;" value="@entity.ProductID">
                </div>
            </div>
            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">询价销售</div>
                <div class="px25 color_9 flex-col">
                    <input type="hidden" value="@entity.OperatorID" id="OperatorID" name="OperatorID" />
                    <select tabindex="1" class="xsselect px25" id="showOperatorID" @(ViewBag.CanEdit ? "" : "disabled=disabled") name="showOperatorID">
                        @if (userList != null && userList.Count > 0)
                        {
                            foreach (UserEntity item in userList)
                            {
                                <option value="@item.UserID" @(!string.IsNullOrEmpty(entity.OperatorID) && entity.OperatorID.Equals(item.UserID.ToString()) ? "selected" : "")>@item.NickName</option>
                            }
                        }
                    </select>
                </div>

            </div>
            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">客户姓名</div>
                <div class="px25 color_9 flex-col">
                    <input type="text" id="CustomerName" name="CustomerName" value="@entity.CustomerName" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;text-align: left;" />
                </div>
            </div>
            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">电话号码</div>
                <div class="px25 color_9 flex-col">
                    <input type="text" id="telphone" name="telphone" value="@entity.telphone" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;text-align: left;" />
                </div>
            </div>
            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">备用号码</div>
                <div class="px25 color_9 flex-col">
                    <input type="text" id="CommentContent" name="CommentContent" value="@entity.CommentContent" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;text-align: left;" />
                </div>
            </div>

            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">QQ/微信</div>
                <div class="px25 color_9 flex-col">
                    <input type="text" id="WebChartID" name="WebChartID" value="@entity.WebChartID" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;text-align: left;">
                </div>
            </div>
            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">留言内容</div>
                <div class="px25 color_9 flex-col">
                    <input type="text" id="InquiryContent" name="InquiryContent" value="@entity.InquiryContent" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;text-align: left;">
                </div>
            </div>
            @*<div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">处理状态</div>
                <div class="px25 color_9 flex-col">
                    <select class="xsselect px25" id="ProcessingState" name="ProcessingState">
                        <option value="1" @(!string.IsNullOrEmpty(entity.ProcessingState) && entity.ProcessingState.Equals("1") ? "selected" : "")>已处理</option>
                        <option value="0" @(!string.IsNullOrEmpty(entity.ProcessingState) && entity.ProcessingState.Equals("0") ? "selected" : "")>未处理</option>
                    </select>
                </div>
            </div>*@

            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">跟踪状态</div>
                <div class="flex-col">
                    <input type="hidden" id="ProcessingState" name="ProcessingState" value="0" />
                    <div class="px25 flex-row"
                         style="border: 1px solid #ddd;height: .706667rem;background-color: #fff;width: -webkit-fill-available;">
                        <div class="px25 flex-col @(!string.IsNullOrEmpty(entity.ProcessingState) && entity.ProcessingState.Equals("1") ? "ztact" : "")"
                             style="line-height: .706667rem;text-align: center;border-right:1px solid #ddd" id="showProcessingState1" onclick="clikeProcessingState(1)">已处理</div>
                        <div class="px25 flex-col @(!string.IsNullOrEmpty(entity.ProcessingState) && entity.ProcessingState.Equals("0") ? "ztact" : "")"
                             style="line-height: .706667rem;text-align: center;border-right:1px solid #ddd" id="showProcessingState0" onclick="clikeProcessingState(0)">未处理</div>                        
                    </div>
                </div>
            </div>

            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">省份城市</div>
                <div class="px25 color_9 flex-col">
                    <input type="text" placeholder="省份" id="Provence" name="Provence" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;width:30%;text-align: left;" value="@entity.Provence" maxlength="50">
                    <input type="text" placeholder="城市" id="City" name="City" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;width:30%;text-align: left;" value="@entity.City" maxlength="50">
                </div>
            </div>
            <div class="flex-row" style="height:auto;margin-bottom: .346667rem;">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">跟踪内容</div>
                <div class="px25 color_9 flex-col">
                    <input class="span5" type="text" placeholder="跟踪内容" style="padding: 0 .333333rem; height: 1.406667rem; border: 1px solid #ddd;width: -webkit-fill-available;line-height: 53px;text-align: left;"
                           id="TraceContent" name="TraceContent" value="@entity.TraceContent" >
                </div>
            </div>
            @*<div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">跟踪状态</div>
                <div class="px25 color_9 flex-col">
                    <select class="xsselect px25" id="TraceState" name="TraceState">
                        <option value="有意向" @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("有意向") ? "selected" : "")>有意向</option>
                        <option value="已成交" @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("已成交") ? "selected" : "")>已成交</option>
                        <option value="无意向" @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("无意向") ? "selected" : "")>无意向</option>
                        <option value="假号" @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("假号") ? "selected" : "")>假号</option>
                    </select>
                </div>
            </div>*@
            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">跟踪状态</div>
                <div class="flex-col">
                    <input type="hidden" id="TraceState" name="TraceState" value="有意向" />
                    <div class="px25 flex-row"                         
                         style="border: 1px solid #ddd;height: .706667rem;background-color: #fff;width: -webkit-fill-available;">
                        <div class="px25 flex-col @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("有意向") ? "ztact" : "")"
                             style="line-height: .706667rem;text-align: center;border-right:1px solid #ddd" id="showTraceState1" onclick="clikeTraceState('有意向',1)">有意向</div>
                        <div class="px25 flex-col @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("已成交") ? "ztact" : "")"
                             style="line-height: .706667rem;text-align: center;border-right:1px solid #ddd" id="showTraceState2" onclick="clikeTraceState('已成交',2)">已成交</div>
                        <div class="px25 flex-col @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("无意向") ? "ztact" : "")"
                             style="line-height: .706667rem;text-align: center;border-right:1px solid #ddd" id="showTraceState3" onclick="clikeTraceState('无意向',3)">无意向</div>
                        <div class="px25 flex-col @(!string.IsNullOrEmpty(entity.TraceState) && entity.TraceState.Equals("假号") ? "ztact" : "")" style="line-height: .706667rem;text-align: center;" id="showTraceState4" onclick="clikeTraceState('假号',4)">假号</div>
                    </div>
                </div>
            </div>

            <div class="flex-row" style="height:1.053333rem">
                <div class="px25 mar-r-30 color_3" style="width:1.466667rem;line-height:.706667rem;">回访日期</div>
                <div class="px25 color_9 flex-col" style="position: relative;">
                    <input type="text" id="NextVisitTime" name="NextVisitTime" value="@(entity.NextVisitTime > Convert.ToDateTime("2000-01-01") ? entity.NextVisitTime.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" style="padding: 0 .333333rem;width: -webkit-fill-available;
                height: .706667rem;
                border: 1px solid #ddd;text-align: left;">
                    @*<img style="width: .293333rem;
               position: absolute;
               top: 17px;
               right: 17px;" class="mar-r-10" src="/source/static/images/icon/date.png" />*@
                </div>
            </div>
            <div class="flex-row" style="margin: auto;width: 5.9rem;">
                <button class="sumbit px25" type="submit" id="save">保存</button>
                <div style="width:.5rem;"></div>
                <button class="cancel px25" type="button" id="goback">返回</button>
            </div>

        </div>
</body>
</html>
<script src="/source/static/js/jquery.pagination.js"></script>
<script>
    $(function () {
        $("#NextVisitTime").datepicker();
    });
    $("#goback").click(function () {
        window.location.href = "/Inquiry/MobileIndex";
    });

    $("#showOperatorID").change(function () {
        $("#OperatorID").val($("#showOperatorID").val());
    })

    function clikeProcessingState(ii) {
        $("#ProcessingState").val(ii);
        if (ii == 1) {
            $("#showProcessingState1").addClass("ztact");
            $("#showProcessingState0").removeClass("ztact");

        } else if (ii == 0) {
            $("#showProcessingState0").addClass("ztact");
            $("#showProcessingState1").removeClass("ztact");

        }
    }

    function clikeTraceState(state, ii) {
        $("#TraceState").val(state);
        if (ii == 1) {
            $("#showTraceState1").addClass("ztact");
            $("#showTraceState2").removeClass("ztact");
            $("#showTraceState3").removeClass("ztact");
            $("#showTraceState4").removeClass("ztact");

        } else if (ii == 2) {
            $("#showTraceState2").addClass("ztact");
            $("#showTraceState1").removeClass("ztact");
            $("#showTraceState3").removeClass("ztact");
            $("#showTraceState4").removeClass("ztact");

        } else if (ii == 3) {
            $("#showTraceState3").addClass("ztact");
            $("#showTraceState1").removeClass("ztact");
            $("#showTraceState2").removeClass("ztact");
            $("#showTraceState4").removeClass("ztact");

        } else if (ii == 4) {
            $("#showTraceState4").addClass("ztact");
            $("#showTraceState1").removeClass("ztact");
            $("#showTraceState2").removeClass("ztact");
            $("#showTraceState3").removeClass("ztact");
        }
    }
</script>