@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "collegedetail";
    Layout = "/Views/Shared/_Layout_PC_web.cshtml";
    ArticleEntity entity = (ArticleEntity)ViewBag.ArticleModel;

    List<ProductEntity> listHot = (List<ProductEntity>)ViewBag.listHot;
    List<ProductEntity> listTJ = (List<ProductEntity>)ViewBag.listTJ;
}

<head>
    <meta charset="utf-8">
    @if (entity != null)
    {
        <title>@entity.articleTitle —建盏学院 -@entity.articleType</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="@entity.articleTitle,建盏天下" />
        <meta name="Description" content="@(entity.zhaiyao.Length > 150 ? entity.zhaiyao.Substring(0, 149) : entity.zhaiyao)" />
    }
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_collegedetail.css" type="text/css">
</head>



<div class="body" style="margin-top:.25rem">
    <div class="flex-row">
        <a href="">建盏学院</a>
    </div>
    <div class="div-h-2"></div>
    <img src="/source/static//images/pc/0809.jpg" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>
    <img src="/source/static//images/pc/5_top_line.png" alt="">

    <div class="flex-row jz-body">
        <div class="right flex-col">
            @if (entity != null)
            {
                <section class="college-wrap">
                    <div class="wrap-title">
                        <h1 class="clamp1" style="font-size: .22rem">@entity.articleTitle</h1>
                        <span class="px14">日期：2017-12-16 版块：<em>@entity.articleType</em></span>
                    </div>
                    <div class="wrap-con">
                        <h2 class="px14">
                            @entity.zhaiyao
                        </h2>
                        @Html.Raw(entity.content)
                    </div>
                    <div class="wrap-footer flex-row">
                        <div>
                            上一篇：去年11月创下
                        </div>
                        <div class="flex-col">

                        </div>
                        <div>
                            下一篇：去年11月创下
                        </div>
                    </div>
                </section>
            }



            <div class="div-h-4"></div>
            <!-- 热门建盏 -->
            <div class="flex-row" style="padding:.2rem 0 .1rem;background: #fff;border-bottom: 1px #b3b3b3 solid">
                <div style="font-size: .21rem;font-family:SourceHanSansCN-Bold;
                                        font-weight:bold;">热门建盏</div>
                <div class="flex-col"></div>
                <div class="px14 color_73">MORE 》</div>
            </div>
            <div style="height:2px;background:#333;"></div>
            <div class="div-h-1"></div>
            <div class="cell-list">
                @if (listHot != null && listHot.Count > 0)
                {
                    foreach (ProductEntity entityPro in listHot)
                    {
                        <a class="li">
                            <div class="div-h-2"></div>
                            <div class="px16 color_7 texta-c actcolor">NO:@entityPro.ProductID</div>
                            <img src="/source/static/images/pc/zj2.png" alt="">
                            <div class="div-h-1"></div>
                            <div class="px16 color_7 texta-c">@entityPro.ProductName</div>
                            <div class="div-h-1"></div>
                            <div class="px13 color_7 flex-row">
                                <div class="flex-col texta-c">
                                    器形:@entityPro.Type3
                                </div>
                                <div class="flex-col texta-c">
                                    釉色:@entityPro.Type2
                                </div>
                            </div>
                            <div class="div-h-1"></div>
                            <div class="px13 color_7 flex-row">
                                <div class="flex-col texta-c">
                                    口径:@entityPro.Volume
                                </div>
                                <div class="flex-col texta-c">
                                    作者:@entityPro.Author
                                </div>
                            </div>
                            <div class="div-h-2"></div>
                            <div class="zxbt-big" onclick="javascript:showzx('@entityPro.ProductID','@entityPro.ProductName','@entityPro.Type3','@entityPro.Type2')">点击咨询</div>
                        </a>
                    }
                }
            </div>
            <!-- 留言评论 -->
            <div class="flex-row" style="border: 1px #bbb solid;background:#fff;height: 4rem;padding: .35rem .66rem;align-items: center">
                <div style="width:4.7rem">
                    <img src="/source/static/images/pc/5_pl.png" alt="">
                    <div class="div-h-3"></div>

                    <div class="flex-row" style="align-items: center">
                        <div class="px14">您的称呼：</div>
                        <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text" placeholder="请输入您的称呼">
                        <div class="input_radio" style="margin-left:.2rem">
                            <input type="radio" name="item" value="先生">
                            <label>先生</label>
                        </div>
                        <div class="input_radio" style="margin-left:.2rem">
                            <input type="radio" name="item" value="女士">
                            <label>女士</label>
                        </div>
                    </div>
                    <div class="div-h-2"></div>
                    <div class="flex-row" style="align-items: center">
                        <div class="px14">联系电话：</div>
                        <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text" id="txt_telephone" placeholder="请输入您的联系电话">
                        <div style="width:.2rem"></div>
                        <div class="px14">微信：</div>
                        <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text" id="txt_ContactName" placeholder="请输入您的微信">
                    </div>
                    <div class="div-h-2"></div>
                    <div class="flex-row">
                        <div class="px14">完善内容：</div>
                        <textarea class="flex-col" style="height:1rem;padding: 0 .1rem;border:#ddd 1px solid;width: 1rem;" id="txt_Content" type="text" placeholder="请输入您的内容">                        </textarea>
                        <div style="width:.92rem"></div>
                    </div>
                    <div class="div-h-2"></div>
                    <div id="LJTJ_ZiXun" style="margin-left: .7rem;width:1.9rem;height:.4rem;background: #B32735;color:#fff;line-height: .4rem;text-align: center;border-radius: 3px;margin-right: .3rem" class="px14">立即提交</div>

                </div>
                <img src="/source/static/images/pc/ly_shu.png" alt="">

                <div style="margin-left: .4rem">
                    <div class="px18 texta-c">拨打热线，直接沟通</div>
                    <div class="div-h-1"></div>
                    <div class="texta-c" style="font-size:.22rem;color: #B32735">400-607-9898</div>
                    <div class="div-h-1"></div>
                    <div style="height:1px;background:#ddd;"></div>
                    <img style="margin-left:.2rem ;height:1.94rem;width:1.94rem" src="/source/static/images/pc/5_code.png" alt="">
                    <div class="px14 texta-c" style="margin-left: .2rem;color:#202020;">(扫码查看事物视频)</div>
                </div>
            </div>
        </div>
        <div style="width:.45rem"></div>
        <!-- 右边的布局 -->
        <div class="left">
            <div class="flex-row" style="padding:.2rem 0 .1rem;background: #fff;border-bottom: 1px #b3b3b3 solid">
                <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                    font-weight:bold;"><span style="color:#B32735">建盏</span>推荐</div>
                <div class="flex-col"></div>
                <div class="px14 color_73">MORE 》</div>
            </div>
            @if (listTJ != null && listTJ.Count > 0)
            {
                foreach (ProductEntity entityPro in listTJ)
                {
                    <div class="div-h-2"></div>
                    <div class="ds-item">
                        <div class="pimg" style="background:url(@entityPro.Images)"></div>
                        <div class="flex-row" style="flex-direction: column">
                            <div class="flex-row mar-t-15" style="align-items: center;padding: 0 .13rem">
                                <div class="flex-col t1 clamp1">【@entityPro.ProductName】</div>
                                <img class="bt-zx" onclick="javascript:showzx('@entityPro.ProductID','@entityPro.ProductName','@entityPro.Type3','@entityPro.Type2')" src="/source/static/images/jianzhan_0509/ds_zx.png">
                            </div>

                            <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                <div class="t2 clamp1 flex-col">编号：@entityPro.ProductID</div>
                                <div class="t2 clamp1 flex-col">作者：@entityPro.Author</div>
                            </div>

                            <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                <div class="t2 clamp1 flex-col">器形：@entityPro.Type3</div>
                                <div class="t2 clamp1 flex-col">釉色：@entityPro.Type2</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="div-h-4"></div>
    <!-- 最新专题 -->
    <div style="text-align: center;">
        <img src="/source/static/images//pc/5_title.png" alt="">
    </div>
    <div class="div-h-4"></div>
    <div class="flex-row">
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb1.png" alt="">
        </div>
        <div style="width:.15rem"></div>
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb2.png" alt="">
        </div>
        <div style="width:.15rem"></div>
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb3.png" alt="">
        </div>
    </div>

</div>