@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "collegelist";
    Layout = "/Views/Shared/_Layout_PC_web.cshtml";
    List<ArticleEntity> list = (List<ArticleEntity>)ViewBag.ArticleList;
    PagerInfo p = (PagerInfo)ViewBag.Pager;
    List<ProductEntity> listTJ = (List<ProductEntity>)ViewBag.listTJ;
}

<head>
    <meta charset="utf-8">
    <title>@(ViewBag.Keyword) - 建盏学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="建盏知识,选盏技巧,建盏新闻,建盏百科,建盏文化" />
    <meta name="Description" content="@(ViewBag.Keyword)是建盏学院六大板块之一，我们立志传播千年的建盏文化和历史，建盏工艺，选盏技巧，百科知识，建盏新闻，拍卖行情，建盏历史，一站式指导盏友们如何鉴赏和入门的频道。" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <!--<link rel="stylesheet" href="/source/css/register/base.css" type="text/css">-->
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_collegelist.css" type="text/css"> 
</head>


<div class="body" style="margin-top:.25rem">
    <div class="flex-row">
        <a href="">建盏学院</a>
        <div>&nbsp; &gt;&nbsp; </div>
        <a href="">@(ViewBag.Keyword)</a>
    </div>
    <div class="div-h-2"></div>
    <img src="/source/static//images/pc/0809.jpg" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>

    <div class="flex-row" style="align-items: center;padding: 0 .2rem">
        <div class="flex-col p6-item  @(ViewBag.Category_ID == 0 ? "p6-item-act" : "")">
            <a href="/WebHomePC/college">学院首页</a>
        </div>
		 <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item @(ViewBag.Category_ID == 1 ? "p6-item-act" : "")">
            <a href="/WebHomePC/collegelist?category_id=1">新闻资讯</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item @(ViewBag.Category_ID == 3 ? "p6-item-act" : "")">
            <a href="/WebHomePC/collegelist?category_id=3">实拍行情</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item @(ViewBag.Category_ID == 5 ? "p6-item-act" : "")">
            <a href="/WebHomePC/collegelist?category_id=5">建盏工艺</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item @(ViewBag.Category_ID == 6 ? "p6-item-act" : "")">
            <a href="/WebHomePC/collegelist?category_id=6">百科知识</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item @(ViewBag.Category_ID == 7 ? "p6-item-act" : "")">
            <a href="/WebHomePC/collegelist?category_id=7">选盏技巧</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item @(ViewBag.Category_ID == 8 ? "p6-item-act" : "")">
            <a href="/WebHomePC/collegelist?category_id=8">文化历史</a>
        </div>
    </div>

    <div class="flex-row jz-body">
        <div class="right flex-col">

            <div class="list-4">
                <div class="flex-row" style="padding:.2rem 0 0rem;background: #fff;">
                    <div class="px18" style="font-family:SourceHanSansCN-Bold;
                                                font-weight:bold;">@(ViewBag.Keyword)</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <img src="/source/static//images/pc/6_top_line.png" alt="">
                @if (list != null && list.Count > 0)
                {
                    foreach (ArticleEntity entity in list)
                    {
                        <a class="flex-row itemp7" target="_blank" href="/WebHomePC/collegedetail?id=@entity.id">
                            <div style="width: 2.25rem;
                        height: 1.5rem;position: relative;background: #fff">
                                <img style="height:1.5rem;width:2.25rem" src="@entity.img_url" alt="">
                            </div>
                            <div style="width:.28rem"></div>
                            <div class="flex-col">
                                <div class="color_3" style="font-size:21px"> @entity.articleTitle</div>
                                <div class="div-h-1"></div>
                                <div style="color:#999">【时间】@entity.AddDate.ToShortDateString()</div>
                                <div class="div-h-1"></div>
                                <div class="clamp2" style="line-height:.29rem;position: relative;">
                                    @entity.zhaiyao
                                    <span style="position: absolute;
                                    color: #B32735;
                                    font-size: .14rem;
                                    background: #fff;
                                    right: 0;
                                    bottom: 0;
                                    padding: 0 .2rem;">[查看详情]</span>
                                </div>

                            </div>
                        </a>
                    }
                }
                
            </div>           
            <!-- 分页器 -->
            @{ Html.RenderPartial("../Pager_pc", p); }            

        </div>
        <div style="width:.45rem"></div>
        <!-- 右边的布局 -->
        <div class="left">
            <div class="flex-row leftdownline">
                <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                    font-weight:bold;"><span style="color:#B32735">建盏</span>推荐</div>
                <div class="flex-col"></div>
                <div class="px14 color_73"><a href="/product_list.html">MORE 》</a></div>
            </div>
            @if (listTJ != null && listTJ.Count > 0)
            {
                foreach (ProductEntity entityPro in listTJ)
                {
                    <div class="div-h-2"></div>
                    <div class="ds-item">
                        <a href="/@(entityPro.ProductID).html" target="_blank">
                            <div class="pimg" style="background:url(@entityPro.Images)"></div>
                        </a>
                        <div class="flex-row" style="flex-direction: column">
                            <div class="flex-row mar-t-15" style="align-items: center;padding: 0 .13rem">
                                <div class="flex-col t1 clamp1">【@entityPro.ProductName】</div>
                                <img class="bt-zx" onclick="javascript:showzx('@entityPro.ProductID','@entityPro.ProductName','@entityPro.Type3','@entityPro.Type2')" src="/source/static/images/jianzhan_0509/ds_zx.png">
                            </div>

                            <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                <div class="t2 clamp1 flex-col">编号：@entityPro.ProductID</div>
                                <div class="t2 clamp1 flex-col">作者：@entityPro.Author</div>
                            </div>

                            <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                <div class="t2 clamp1 flex-col">器形：@entityPro.Type3</div>
                                <div class="t2 clamp1 flex-col">釉色：@entityPro.Type2</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>