@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "home";
    Layout = "/Views/Shared/_Layout_PC_web.cshtml";

    List<ProductEntity> listNew = (List<ProductEntity>)ViewBag.listNew;
    List<ProductEntity> listHot = (List<ProductEntity>)ViewBag.listHot;
    List<ProductEntity> listDSTJ = (List<ProductEntity>)ViewBag.listDSTJ;

    List<ArtisanEntity> listMJMT = (List<ArtisanEntity>)ViewBag.listMJMT;
    List<ProductEntity> listArtisanProduct = (List<ProductEntity>)ViewBag.listArtisanProduct;

    List<ArticleEntity> listArt = (List<ArticleEntity>)ViewBag.listArt;
}

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="建盏,建窑,天目盏,兔毫盏,油滴盏" />
    <meta name="description" content="建盏天下(JianZhanShop.com)是国内首家专注于建窑建盏的专业门户，提供产地艺人直供的精品兔毫盏、油滴盏、曜变盏、鹧鸪斑、金油滴、敛口盏、束口盏。建盏天下传播千年的建盏文化和历史，大师名家，老盏等权威信息，提供建盏品鉴、收藏和定制服务。" />
    <meta name="description" content="小匠专场拍卖">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <title>建盏天下网(JianZhanShop.com) - 建窑建盏首席品牌商城</title>
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/pc_home.css" type="text/css" />
</head>
<div class="banner">
    <img src="/source/static/images/pc/banner.jpg" alt="">
</div>

<div class="body" style="margin-top:.37rem">
    <div class="flex-row" style="width:12rem">
        <div class="flex-col" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                <div class="flex-row" style="padding:.2rem .2rem 0">
                    <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                    font-weight:bold;">新品好货推荐</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73"><a href="/product_list.html">更多 》</a></div>
                </div>
                <div class="ds-list">
                    @if (listNew != null && listNew.Count > 0)
                    {
                        foreach (ProductEntity entity in listNew)
                        {
                            <div class="ds-item">
                                <a href="/@(entity.ProductID).html">
                                    <div class="pimg" style="background:url(@entity.Images)"></div>
                                </a>
                                <div class="flex-row" style="flex-direction: column">
                                    <div class="flex-row mar-t-20" style="align-items: center;padding: 0 .13rem">
                                        <div class="flex-col t1 clamp1">【@entity.ProductName】</div>
                                        <img class="bt-zx" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')" src="/source/static/images/jianzhan_0509/ds_zx.png">
                                    </div>

                                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                        <div class="t2 clamp1 flex-col">编号：@entity.ProductID</div>
                                        <div class="t2 clamp1 flex-col">作者：@entity.Author</div>
                                    </div>

                                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                        <div class="t2 clamp1 flex-col">器形：@entity.Type3</div>
                                        <div class="t2 clamp1 flex-col">釉色：@entity.Type2</div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
            <div class="div-h-2" style="background:#fff"></div>
        </div>

        <div class="flex-col mar-l-20" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                <div class="flex-row" style="padding:.2rem .2rem 0">
                    <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                font-weight:bold;">每日严选推荐</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73"><a href="/product_list.html">更多 》</a></div>
                </div>
                <div class="ds-list">
                    @if (listHot != null && listHot.Count > 0)
                    {
                        foreach (ProductEntity entity in listHot)
                        {
                            <div class="ds-item">
                                <a href="/@(entity.ProductID).html">
                                    <div class="pimg" style="background:url(@entity.Images)"></div>
                                </a>
                                <div class="flex-row" style="flex-direction: column">
                                    <div class="flex-row mar-t-20" style="align-items: center;padding: 0 .13rem">
                                        <div class="flex-col t1 clamp1">【@entity.ProductName】</div>
                                        <img class="bt-zx" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')" src="/source/static/images/jianzhan_0509/ds_zx.png">
                                    </div>

                                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                        <div class="t2 clamp1 flex-col">编号：@entity.ProductID</div>
                                        <div class="t2 clamp1 flex-col">作者：@entity.Author</div>
                                    </div>

                                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                        <div class="t2 clamp1 flex-col">器形：@entity.Type3</div>
                                        <div class="t2 clamp1 flex-col">釉色：@entity.Type2</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="div-h-2" style="background:#fff"></div>
        </div>
    </div>
    <div class="div-h-4"></div>
    <img src="/source/static//images/pc/0809.jpg" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>
    <div class="part1" style="background: #fff;border-top:0px">
        <div class="flex-row" style="padding:.2rem .2rem 0">
            <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                font-weight:bold;">名家名堂（名家大师介绍栏目）</div>
            <div class="flex-col"></div>
            <div class="px14 color_73"><a href="/artisan_list.html">更多 》</a></div>
        </div>
        <div class="mj-list">
            <div class="mj-item" style="height:4.5rem !important;margin-left:.2rem;margin-right:.2rem ">
                <div class="pimg" style="height: 100%;background:url(/source/static/images/jianzhan_0509/mjmt1.jpeg)"></div>
            </div>
            <div class="mj-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/mjmt5.jpeg)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-col t1 clamp1">【孙建兴】</div>
                    <div class="t2 clamp1 flex-col">建窑建盏国家级代表性传承人、中国陶瓷艺术大师</div>
                </div>
            </div>

            <div class="mj-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/mjmt6.jpeg)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-col t1 clamp1">【陈大鹏】</div>
                    <div class="t2 clamp1 flex-col">建盏终生成就奖！建窑建盏烧制技艺恢复三老之一</div>
                </div>
            </div>
            <div class="mj-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/mjmt4.jpeg)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-col t1 clamp1">【黄美金】</div>
                    <div class="t2 clamp1 flex-col">金油滴开山宗师，中国高级工艺美术师</div>
                </div>
            </div>
            <div class="mj-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/mjmt3.jpeg)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-col t1 clamp1">【陆金喜】</div>
                    <div class="t2 clamp1 flex-col">曜变技艺复原第一人，陶艺大师</div>
                </div>
            </div>
            <div class="mj-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/mjmt7.jpeg)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-col t1 clamp1">【卓立旗】</div>
                    <div class="t2 clamp1 flex-col">黑釉银斑第一人，70岁老艺人</div>
                </div>
            </div>
            <div class="mj-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/mjmt2.jpeg)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-col t1 clamp1">【孙莉】</div>
                    <div class="t2 clamp1 flex-col">福建省陶瓷艺术大师，建盏女将代表之一</div>
                </div>
            </div>
        <div class="div-h-2"></div>
        </div>
	</div>
    <div class="div-h-4" style="background:#f7f7f7"></div>

    <div class="flex-row" style="width:12rem">
        <div class="flex-col" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                <div class="flex-row" style="padding:.2rem .2rem 0">
                    <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                    font-weight:bold;">釉色推荐</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73"><a href="/WebHomePC/jingdian">更多 》</a></div>
                </div>
                <div class="ds-list">
                    
					<a href="/WebHomePC/jingdiandetail?artisanid=121" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/tuhao.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【兔毫】</div>
                            <div class="t2 clamp2">
                                析晶斑纹为黑色釉层中透出均匀细密的丝状筋脉条纹...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
                    <a href="/WebHomePC/jingdiandetail?artisanid=122" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/zhegu.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【油滴/鹧鸪斑】</div>
                            <div class="t2 clamp2">
                                油滴盏的斑纹有如沸腾的油滴一般、呈点状分布...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
					<a href="/WebHomePC/jingdiandetail?artisanid=123" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/yaobian.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【曜变】</div>
                            <div class="t2 clamp2">
                                在阳光和一定温度条件下会闪耀出七彩光晕...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
                    <a href="/WebHomePC/jingdiandetail?artisanid=124" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/wujin.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【乌金釉】</div>
                            <div class="t2 clamp2">
                                乌金釉即纯黑釉。有部分斑纹较少或极难直接观察...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
                   
                </div>
            </div>
            <div class="div-h-2" style="background:#fff"></div>
        </div>

        <div class="flex-col mar-l-20" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                <div class="flex-row" style="padding:.2rem .2rem 0">
                    <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                font-weight:bold;">器型推荐</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73"><a href="/WebHomePC/jingdian">更多 》</a></div>
                </div>
                <div class="ds-list">
				    <a href="/WebHomePC/jingdiandetail?artisanid=116" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/sk.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【束口盏】</div>
                            <div class="t2 clamp2">
                                盏沿以下1cm左右处必有一圈凹槽，也叫“注水线”...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
					<a href="/WebHomePC/jingdiandetail?artisanid=119" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/bk.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【撇口盏】</div>
                            <div class="t2 clamp2">
                                口沿外撇。盏腹有明显弧度...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
                    <a href="/WebHomePC/jingdiandetail?artisanid=117" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/lk.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【敛口盏】</div>
                            <div class="t2 clamp2">
                                口沿微向内收敛，整体造型呈丰满状...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
                    <a href="/WebHomePC/jingdiandetail?artisanid=118" class="qxys-item flex-row">
                        <img src="http://116.62.124.214/upload/201905/20/ck.jpg" alt="">
                        <div class="flex-col">
                            <div class="t1 clamp1">【敞口盏】</div>
                            <div class="t2 clamp2">
                                在黑色釉中透露出均...
                            </div>
                            <div class="t3">详情</div>
                        </div>
                    </a>
                    
                </div>
                <div class="div-h-2" style="background:#fff"></div>
            </div>
        </div>
    </div>
    <div class="div-h-4"></div>
    <img src="/source/static//images/pc/0809.jpg" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>
    <div class="flex-row" style="width:12rem">
        <div class="flex-col" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                <div class="flex-row" style="padding:.2rem .2rem 0">
                    <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                font-weight:bold;">名家大师重器推荐</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73"><a href="/product_list.html">更多 》</a></div>
                </div>
                <div class="ds-list">
                    @if (listDSTJ != null && listDSTJ.Count > 0)
                    {
                        foreach (ProductEntity entity in listDSTJ)
                        {
                            <div class="ds-item" style="width:2.75rem;height:3.22rem&quot;">
                                <a href="/@(entity.ProductID).html">
                                    <div class="pimg" style="background:url(@entity.Images)"></div>
                                </a>
                                <div class="flex-row" style="flex-direction: column">
                                    <div class="flex-row mar-t-20" style="align-items: center;padding: 0 .13rem">
                                        <div class="flex-col t1 clamp1">【@entity.ProductName】</div>
                                        <img class="bt-zx" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')" src="/source/static/images/jianzhan_0509/ds_zx.png">
                                    </div>

                                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                        <div class="t2 clamp1 flex-col">编号：@entity.ProductID</div>
                                        <div class="t2 clamp1 flex-col">作者：@entity.Author</div>
                                    </div>

                                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                        <div class="t2 clamp1 flex-col">器形：@entity.Type3</div>
                                        <div class="t2 clamp1 flex-col">釉色：@entity.Type2</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="div-h-2" style="background:#fff"></div>
        </div>
    </div>
    <div class="div-h-4"></div>
    <!-- 建盏学院/专题推荐 -->
    <div class="flex-row">
        <div style="width:3.17rem;background: #fff;height: 3.53rem">
            <div class="flex-row" style="padding:.2rem .2rem 0;background: #fafafe;padding-bottom: .2rem">
                <div class="px16" style="font-family:SourceHanSansCN-Bold;
                            font-weight:bold;">建盏学院</div>
                <div class="flex-col"></div>
                <div class="px14 color_73"><a href="/article_list2.html">更多 》</a></div>
            </div>
            <div class="jz-list">

                @if (listArt != null && listArt.Count > 0)
                {
                    foreach (ArticleEntity entity in listArt)
                    {
                        <div class="jz-cell">
                            · <a href="/WebHomePC/collegedetail?id=@entity.id" title="@entity.articleTitle">@(entity.articleTitle.Length > 20 ? entity.articleTitle.Substring(0, 19) : entity.articleTitle)</a>
                        </div>
                    }

                }

            </div>
        </div>

        <div class="flex-col mar-l-20" style="width:8.63rem;background: #fff">
            <div class="flex-row" style="padding:.2rem .2rem 0;background: #fff;padding-bottom: .2rem">
                <div class="px16" style="font-family:SourceHanSansCN-Bold;
                            font-weight:bold;">专题推荐</div>
                <div class="flex-col"></div>
                <div class="px14 color_73">更多 》</div>
            </div>
            <div class="div-h-1"></div>
            <div class="swiper_container_suz2 swiper-container-horizontal" id="pb2">
                <div class="swiper-wrapper" style="transform: translate3d(-624.75px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div>
                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="2" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="width: 406.5px; margin-right: 10px;">
                        <img src="/source/static/images/jianzhan_0509/zttj1.png">
                    </div>
                </div>
                <div id="snext" class="swiper-button-next"></div>
                <div id="sprev" class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="div-h-4"> </div>
    <div class="flex-row" style="width:12rem">
        <div class="flex-col" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                 <div class="flex-row" style="padding:.2rem .2rem 0">
                        <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                font-weight:bold;">连锁门店</div>

                        <div class="px14 dp-t1 dpact" style="margin-left:.4rem;line-height:30px" onclick="selectStore(0)">北京店</div>
                        <div class="shux"></div>
                        <div class="px14 dp-t1" style="line-height:30px" onclick="selectStore(1)">厦门点</div>
                        <div class="shux"></div>
                        <div class="px14 dp-t1" style="line-height:30px" onclick="selectStore(2)">武夷山店</div>
                        <div class="flex-col"></div>
                        <div class="px14 color_73">更多 》</div>
                    </div>
                <div class="flex-row">
                    <div style="width:5.39rem;height: 4.52rem;padding: .2rem 0 .2rem .2rem">
                        <div style="height:auto; padding: .3rem;background: #f7f7f7">
                            <div class="px16 color_57">客服：4008-276-376</div>
                            <div class="px16 color_57 mar-t-1" id="address" style="line-height:.4rem">
                                地址：北京市朝阳区酒仙桥798艺术区西二门
                            </div>
                            <div class="px16 color_57 mar-t-1">时间：周一至周日（9.30-18.30) </div>
                            <div class="px16 color_57 mar-t-1" style="">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（其他时间请提前联系我们）
                            </div>
                            <div class="div-h-2"></div>
                            <div class="flex-row " style="bottom: 0;height: .45rem;text-align: center;align-items: center;border-top: 1px solid #f6f6f6;width: 100%;z-index: 99;">
                                <div class="flex-col searchzx" style="background: #f7f7f7;height: .45rem;border: 1px solid #e6e6e6;">
                                    <input style="height: 95%;width: 90%; background: #f7f7f7" class="px16 pad-l-20" type="text" id="txt_easyTel" placeholder="请输入手机号码咨询详情">
                                </div>
                                <div class="ssbtnzx px16" style="height: .45rem;margin-left: .12rem;width:1.34rem;line-height: .45rem" id="btn_easyZX">
                                    立即咨询
                                </div>
                            </div>
                            <div class="flex-row" style="text-align: center; padding-top: .3rem">
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/1.png">
                                        <div class="px13 clamp1 pad-t-20">艺人直销</div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/2.png">
                                        <div class="px13 clamp1 pad-t-20">一手货源</div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/3.png">
                                        <div class="px13 clamp1 pad-t-20">原矿铁胎</div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/4.png">
                                        <div class="px13 clamp1 pad-t-20">实物视频</div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-row pad-b-40 " style="text-align: center;padding-top: .3rem">
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/5.png">
                                        <div class="px13 clamp1 pad-t-20">实体门店</div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/6.png">
                                        <div class="px13 clamp1 pad-t-20">1对1顾问</div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/7.png">
                                        <div class="px13 clamp1 pad-t-20">赝品赔付</div>
                                    </div>
                                </div>
                                <div class="flex-col">
                                    <div style="margin: 0 .1rem">
                                        <img class="ic_42" src="/source/static/images/jianzhan_0509/8.png">
                                        <div class="px13 clamp1 pad-t-20">15天退换</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-col">

                         <div id="storeswiper0" class="swiper-container storedp" style="margin: 0px; margin-top: .2rem;margin-bottom: .2rem">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img id='lunbo1' style="width: 100%;" src="/source/static/images/jianzhan_0509/lunN6.jpg" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img id='lunbo2' style="width: 100%;" src="/source/static/images/jianzhan_0509/lunN7.jpg" />
                                    </div>
                                </div>
                                <div id="dpnext1" class="swiper-button-next"></div>
                                <div id="dpprev1" class="swiper-button-prev"></div>
                            </div>
                            <div id="storeswiper1" class="swiper-container storedp" style="margin: 0px; margin-top: .2rem;margin-bottom: .2rem;display: none">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img id='lunbo1' style="width: 100%;" src="/source/static/images/jianzhan_0509/lunN1.jpg" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img id='lunbo2' style="width: 100%;" src="/source/static/images/jianzhan_0509/lunN2.jpg" />
                                    </div>
                                </div>
                                <div id="dpnext2" class="swiper-button-next"></div>
                                <div id="dpprev2" class="swiper-button-prev"></div>
                            </div>
                            <div id="storeswiper2" class="swiper-container storedp" style="margin: 0px; margin-top: .2rem;margin-bottom: .2rem;display: none">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img id='lunbo1' style="width: 100%;" src="/source/static/images/jianzhan_0509/lunN10.jpg" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img id='lunbo2' style="width: 100%;" src="/source/static/images/jianzhan_0509/lunN11.jpg" />
                                    </div>
                                </div>
                                <div id="dpnext3" class="swiper-button-next"></div>
                                <div id="dpprev3" class="swiper-button-prev"></div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="div-h-2" style="background:#fff"></div>
        </div>
    </div>
</div>