@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_jingdiandetail";
    Layout = "~/Views/Shared/_Layout_PC_web.cshtml";

    ArtisanEntity entity = (ArtisanEntity)ViewBag.ArtisanModel;
    List<ProductEntity> listPro = (List<ProductEntity>)ViewBag.listHot;
    List<ProductEntity> listTJ = (List<ProductEntity>)ViewBag.listTJ;
}




<head>
    <meta charset="utf-8">
    @if (entity != null)
    {
        <title>建盏名家大师【@entity.artisanName 】 - 建盏天下网</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="建盏名家,建盏老师,@entity.artisanName ,建盏品牌" />
        <meta name="Description" content="【@entity.artisanName】@(StringHelper.NoHTML(entity.introduction))" />
    }
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <!--<link rel="stylesheet" href="/source/css/register/base.css" type="text/css">-->
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_jingdiandetail.css" type="text/css">
</head>

<div class="body" style="margin-top:.25rem">
    <div class="flex-row">
        <a href="">建盏商城</a>
        <div>&nbsp; &gt;&nbsp; </div>
        <a href="">孙建兴大师</a>
    </div>
    <div class="div-h-2"></div>
    <img src="/source/static//images/pc/0809.jpg" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>

    <div class="flex-row" style="align-items: center;padding: 0 .2rem">
        <div class="flex-col p6-item  p6-item-act">
            <a href="/WebHomePC/college">学院首页</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            <a href="/WebHomePC/collegelist?category_id=1">新闻资讯</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            <a href="/WebHomePC/collegelist?category_id=3">实拍行情</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            <a href="/WebHomePC/collegelist?category_id=5">建盏工艺</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            <a href="/WebHomePC/collegelist?category_id=6">百科知识</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            <a href="/WebHomePC/collegelist?category_id=7">选盏技巧</a>
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            <a href="/WebHomePC/collegelist?category_id=8">文化历史</a>
        </div>
    </div>
    <!-- <img src="/source/static//images/pc/5_top_line.png" alt=""> -->

    <div class="flex-row jz-body">
        <div class="right flex-col">
            @if (entity != null)
            {
                <div class="flex-row" style="padding:.2rem 0 0rem;background: #fff;">
                    <div class="px18" style="font-family:SourceHanSansCN-Bold;
                                                            font-weight:bold;"><span style="color:#B32735">釉色</span>·赏析</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <img src="/source/static//images/pc/6_top_line.png" alt="">
                <a class="flex-row" style="padding: .2rem 0;
                    border-bottom: #eee solid 0px;">
                    <div style="width: 3rem;height: 3rem;position: relative;background: #fff">
                        <img style="margin:.07rem;height:2.86rem;width:2.86rem" src="@entity.IDHead" alt="">
                    </div>
                    <div style="width:.28rem"></div>
                    <div class="flex-col">
                        <div class="color_3" style="font-size:21px">兔毫.简介</div>
                        <div class="div-h-1"></div>
                        <div style="height:1px;background:#aaa;"></div>
                        <div class="div-h-1"></div>
                        <div style="line-height:.35rem;position: relative;font-size: .15rem;color: #666">
                            @Html.Raw(entity.DetailedIntroduction)
                        </div>
                    </div>
                </a>
            }

            <div class="div-h-4"></div>
            <!-- 热门建盏 -->
            <div class="flex-row" style="padding:.2rem 0 .1rem;background: #fff;border-bottom: 1px #b3b3b3 solid">
                <div style="font-size: .21rem;font-family:SourceHanSansCN-Bold;
                                        font-weight:bold;">热门建盏</div>
                <div class="flex-col"></div>
                <div class="px14 color_73">MORE 》</div>
            </div>
            <div style="height:2px;background:#333;"></div>
            <div class="div-h-1"></div>
            <div class="cell-list">
                @if (listPro != null && listPro.Count > 0)
                {
                    foreach (ProductEntity item in listPro)
                    {
                        <a class="li">
                            <div class="div-h-2"></div>
                            <div class="px16 color_7 texta-c actcolor">NO:@item.ProductID</div>
                            <img src="@item.Images" alt="" style="cursor:pointer" onclick="OpenUrl('/@(item.ProductID).html')">
                            <div class="div-h-1"></div>
                            <div class="px16 color_7 texta-c">@item.ProductName</div>
                            <div class="div-h-1"></div>
                            <div class="px13 color_7 flex-row">
                                <div class="flex-col texta-c">
                                    器形:@item.Type3
                                </div>
                                <div class="flex-col texta-c">
                                    釉色:@item.Type2
                                </div>
                            </div>
                            <div class="div-h-1"></div>
                            <div class="px13 color_7 flex-row">
                                <div class="flex-col texta-c">
                                    口径:@item.Volume
                                </div>
                                <div class="flex-col texta-c">
                                    作者:@item.Author
                                </div>
                            </div>
                            <div class="div-h-2"></div>
                            <div class="zxbt-big" onclick="javascript:showzx('@item.ProductID','@item.ProductName','@item.Type3','@item.Type2')">点击咨询</div>
                        </a>

                    }
                }
            </div>
            <!-- 留言评论 -->
            <!-- <div class="flex-row" style="border: 1px #bbb solid;background:#fff;height: 4rem;padding: .35rem .66rem;align-items: center">
                <div style="width:4.7rem">
                    <img src="/source/static/images/pc/5_pl.png" alt="">
                    <div class="div-h-3"></div>

                    <div class="flex-row" style="align-items: center">
                        <div class="px14">您的称呼：</div>
                        <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text"
                            placeholder="请输入您的名称">
                        <div class="input_radio" style="margin-left:.2rem">
                            <input type="radio" name="item" value="先生">
                            <label>先生</label>
                        </div>
                        <div class="input_radio" style="margin-left:.2rem">
                            <input type="radio" name="item" value="女士">
                            <label>女士</label>
                        </div>
                    </div>
                    <div class="div-h-2"></div>
                    <div class="flex-row" style="align-items: center">
                        <div class="px14">联系电话：</div>
                        <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text"
                            placeholder="请输入您的名称">
                        <div style="width:.2rem"></div>
                        <div class="px14">微信：</div>
                        <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text"
                            placeholder="请输入您的名称">
                    </div>
                    <div class="div-h-2"></div>
                    <div class="flex-row">
                        <div class="px14">完善内容：</div>

                        <textarea class="flex-col" style="height:1rem;padding: 0 .1rem;border:#ddd 1px solid;width: 1rem;"
                            type="text" placeholder="请输入您的名称">                        </textarea>
                        <div style="width:.92rem"></div>
                    </div>
                    <div class="div-h-2"></div>
                    <div style="margin-left: .7rem;width:1.9rem;height:.4rem;background: #B32735;color:#fff;line-height: .4rem;text-align: center;border-radius: 3px;margin-right: .3rem"
                        class="px14">立即提交</div>

                </div>
                <img src="/source/static/images/pc/ly_shu.png" alt="">

                <div style="margin-left: .4rem">
                    <div class="px18 texta-c">拨打热线，直接沟通</div>
                    <div class="div-h-1"></div>
                    <div class="texta-c" style="font-size:.22rem;color: #B32735">400-607-9898</div>
                    <div class="div-h-1"></div>
                    <div style="height:1px;background:#ddd;"></div>
                    <img style="margin-left:.2rem ;height:1.94rem;width:1.94rem" src="/source/static/images/pc/5_code.png"
                        alt="">
                    <div class="px14 texta-c" style="margin-left: .2rem;color:#202020;">(扫码查看事物视频)</div>
                </div>
            </div> -->
        </div>
        <div style="width:.45rem"></div>
        <!-- 右边的布局 -->
        <div class="left">
            <div class="flex-row leftdownline">
                <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                    font-weight:bold;"><span style="color:#B32735">大师</span>推荐</div>
                <div class="flex-col"></div>
                <div class="px14 color_73">MORE 》</div>
            </div>
            @if (listTJ != null && listTJ.Count > 0)
            {
                foreach (ProductEntity entityPro in listTJ)
                {
                    <div class="div-h-2"></div>
                    <div class="ds-item">
                        <a href="/@(entityPro.ProductID).html">
                            <div class="pimg" style="background:url(@entityPro.Images)"></div>
                        </a>
                        <div class="flex-row" style="flex-direction: column">
                            <div class="flex-row mar-t-15" style="align-items: center;padding: 0 .13rem">
                                <div class="flex-col t1 clamp1">【@entityPro.ProductName】</div>
                                <img class="bt-zx" onclick="javascript:showzx('@entityPro.ProductID','@entityPro.ProductName','@entityPro.Type3','@entityPro.Type2')" src="/source/static/images/jianzhan_0509/ds_zx.png">
                            </div>

                            <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                <div class="t2 clamp1 flex-col">编号：@entityPro.ProductID</div>
                                <div class="t2 clamp1 flex-col">作者：@entityPro.Author</div>
                            </div>

                            <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                                <div class="t2 clamp1 flex-col">器形：@entityPro.Type3</div>
                                <div class="t2 clamp1 flex-col">釉色：@entityPro.Type2</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="div-h-4"></div>
    <!-- 最新专题 -->
    <div style="text-align: center;">
        <img src="/source/static/images//pc/5_title.png" alt="">
    </div>
    <div class="div-h-4"></div>
    <div class="flex-row">
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb1.png" alt="">
        </div>
        <div style="width:.15rem"></div>
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb2.png" alt="">
        </div>
        <div style="width:.15rem"></div>
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb3.png" alt="">
        </div>
    </div>

</div>