@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "shop";
    Layout = "/Views/Shared/_Layout_PC_web.cshtml";

    List<SimpleArtisanEntity> listYJDS = (List<SimpleArtisanEntity>)ViewBag.YJDSList;//业界大师
    List<SimpleArtisanEntity> listLPCCR = (List<SimpleArtisanEntity>)ViewBag.LPCCRList;//老牌传承人
    List<SimpleArtisanEntity> listMJGYS = (List<SimpleArtisanEntity>)ViewBag.MJGYSList;//名家工艺师
    List<SimpleArtisanEntity> listZMPP = (List<SimpleArtisanEntity>)ViewBag.ZMPPList;//知名品牌

    List<BaseDataEntity> listQX = (List<BaseDataEntity>)ViewBag.QXList;//器型
    List<BaseDataEntity> listYS = (List<BaseDataEntity>)ViewBag.YSList;//釉色
    List<BaseDataEntity> listKJ = (List<BaseDataEntity>)ViewBag.KJList;//口径
    List<BaseDataEntity> listJG = (List<BaseDataEntity>)ViewBag.JGList;//价格
    List<BaseDataEntity> listGN = (List<BaseDataEntity>)ViewBag.GNList;//功能

    List<ProductEntity> proList = (List<ProductEntity>)ViewBag.ProductList;//产品
    List<ProductEntity> tjList = (List<ProductEntity>)ViewBag.listTJ;//推荐

    PagerInfo p = (PagerInfo)ViewBag.Pager;
}
<head>
    <meta charset="utf-8">
    <title>建盏商城 - 建盏天下网</title>
    <meta name="keywords" content="曜变盏,天目盏,兔毫盏,油滴盏,束口盏" />
    <meta name="description" content="建盏商城是福建省建窑建盏首席品牌商城，提供产地大师名家直供的一手精品货源：兔毫盏、油滴盏、曜变盏、鹧鸪斑、金油滴、敛口盏、束口盏，提供建盏价格、收藏、名家押窑和私人定制服务。" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_shop.css" type="text/css">
</head>

<div class="body" style="margin-top:.25rem">

    <img src="/source/static//images/pc/0809.jpg" style="height:1.2rem" alt="">

    <img src="/source/static//images/pc/line.png" alt="">

    <div class="flex-row jz-body">
        <div class="left">
            <img src="/source/static/images//pc//hot.png" style="margin: .2rem .1rem;" alt="">
			    @*<div class="c1">
                    <img src="http://116.62.124.214//productimg/shenfenzheng/24084.png" alt="">
                    <div class="px14 color_f" style="width: 100%;line-height: .34rem;text-align: center;position: absolute;bottom: 0;left: 0;;height: .34rem;;background:rgba(0, 0, 0,.3)">
                        红花阿瑟费几点回</div>
                </div>
                <div class="div-h-1"></div>
                <div class="c1">
                    <img src="http://116.62.124.214//productimg/shenfenzheng/24084.png" alt="">
                    <div class="px14 color_f" style="width: 100%;line-height: .34rem;text-align: center;position: absolute;bottom: 0;left: 0;;height: .34rem;;background:rgba(0, 0, 0,.3)">
                        红花阿瑟费几点回</div>
                </div>*@
				<div class="div-h-2"></div>
            @if (tjList != null && tjList.Count > 0)
            {
                foreach (ProductEntity entity in tjList)
                {
                    <div class="c2">
                        <a href="/@(entity.ProductID).html">
                            <img src="@entity.Images" alt="">
                        </a>
                        <div class="px14 color_7 texta-c">@entity.Author @entity.ProductName</div>
                        <div class="div-h-1"></div>
                        <div class="px10 color_7 texta-c actcolor">NO:@entity.ProductID</div>
                        <div class="div-h-2"></div>
                        <div class="zxbt" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')">点击咨询</div>
                    </div>
                    <div class="div-h-2"></div>
                }
            }

        </div>
        <div style="width:1px;background:#ddd"></div>
        <div class="right flex-col">
            <div class="list">
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist">
                            <div class='li @(ViewBag.author == "" ? "actcolor_check" : "")'><a href="javacsript:void(0)" style="color:red" onclick="return getUrls('author', this);">全部</a></div>
                            <div class='li @(ViewBag.author == "业界大师" ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">业界大师</a></div>
                            @if (listYJDS != null && listYJDS.Count > 0)
                            {
                                foreach (SimpleArtisanEntity entity in listYJDS)
                                {
                                    <div class='li @(ViewBag.author == entity.artisanName ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">@entity.artisanName</a></div>
                                }
                            }
                            <div class='li @(ViewBag.author == "老牌传承人" ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">老牌传承人</a></div>
                            @if (listLPCCR != null && listLPCCR.Count > 0)
                            {
                                foreach (SimpleArtisanEntity entity in listLPCCR)
                                {
                                    <div class='li @(ViewBag.author == entity.artisanName ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">@entity.artisanName</a></div>
                                }
                            }                            
                            <div class='li @(ViewBag.author == "名家工艺师" ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">名家工艺师</a></div>
                            @if (listMJGYS != null && listMJGYS.Count > 0)
                            {
                                foreach (SimpleArtisanEntity entity in listMJGYS)
                                {
                                    <div class='li @(ViewBag.author == entity.artisanName ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">@entity.artisanName</a></div>
                                }
                            }                            
                            <div class='li @(ViewBag.author == "知名品牌" ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">知名品牌</a></div>
                            @if (listZMPP != null && listZMPP.Count > 0)
                            {
                                foreach (SimpleArtisanEntity entity in listZMPP)
                                {
                                    <div class='li @(ViewBag.author == entity.artisanName ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('author', this);">@entity.artisanName</a></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">釉&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist Type2">
                            <div class='li @(ViewBag.type2 == "" ? "actcolor_check" : "")'><a href="javacsript:void(0)" style="color:red" onclick="return getUrls('type2', this);">全部</a></div>
                            @if (listYS != null && listYS.Count > 0)
                            {
                                foreach (BaseDataEntity entity in listYS)
                                {
                                    <div class='li @(ViewBag.type2 == entity.ValueInfo ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('type2', this);">@entity.ValueInfo</a></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">器&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;形</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist Type3">
                            <div class='li @(ViewBag.type3 == "" ? "actcolor_check" : "")'><a href="javacsript:void(0)" style="color:red" onclick="return getUrls('type3', this);">全部</a></div>
                            @if (listQX != null && listQX.Count > 0)
                            {
                                foreach (BaseDataEntity entity in listQX)
                                {
                                    <div class='li @(ViewBag.type3 == entity.ValueInfo ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('type3', this);">@entity.ValueInfo</a></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">口&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;径</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist  Type4">
                            <div class='li @(ViewBag.type4 == "" ? "actcolor_check" : "")'><a href="javacsript:void(0)" style="color:red" onclick="return getUrls('type4', this);">全部</a></div>
                            @if (listKJ != null && listKJ.Count > 0)
                            {
                                foreach (BaseDataEntity entity in listKJ)
                                {
                                    <div class='li @(ViewBag.type4 == entity.ValueInfo ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('type4', this);">@entity.ValueInfo</a></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist  Type5">
                            <div class='li @(ViewBag.type5 == "" ? "actcolor_check" : "")'><a href="javacsript:void(0)" style="color:red" onclick="return getUrls('type5', this);">全部</a></div>
                            @if (listJG != null && listJG.Count > 0)
                            {
                                foreach (BaseDataEntity entity in listJG)
                                {
                                    <div class='li @(ViewBag.type5 == entity.ValueInfo ? "actcolor_check" : "")'><a href="javacsript:void(0)" onclick="return getUrls('type5', this);">@entity.ValueInfo</a></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">功&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist  Type7">
                            <div class='li @(ViewBag.type7 == "" ? "actcolor_check" : "")'><a href="javacsript:void(0)" style="color:red" onclick="return getUrls('type7', this);">全部</a></div>
                            @if (listGN != null && listGN.Count > 0)
                            {
                                foreach (BaseDataEntity entity in listGN)
                                {
                                    <div class='li @(ViewBag.type7 == entity.ValueInfo ? "actcolor_check" : "")'><a href="javacsript:void(0)"  onclick="return getUrls('type7', this);">@entity.ValueInfo</a></div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="more" id="shop-more">
                更多选项 <img src="/source/static/images/pc/xia.png" alt="">
            </div>
            <div class="div-h-2"></div>
            <div class="flex-row" style="margin-left:.25rem;align-items: center">
                <div class="flex-row" style="height:.4rem;width:3rem;border: 1px solid #ddd;align-items: center">
                    <div class='flex-col @(ViewBag.Tag == "默认" ? "actsx" : "")'>
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">
                                <a href="javacsript:void(0)" onclick="return getUrls('tag', this);">默认</a>
                            </div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class='flex-col @(ViewBag.Tag == "新品" ? "actsx" : "")'>
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%;">
                            <div class="texta-c px14 clr">
                                <a href="javacsript:void(0)" onclick="return getUrls('tag', this);">新品</a>
                            </div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class='flex-col @(ViewBag.Tag == "销量" ? "actsx" : "")'>
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">
                                <a href="javacsript:void(0)" onclick="return getUrls('tag', this);">销量</a>
                            </div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class='flex-col @(ViewBag.Tag == "人气" ? "actsx" : "")'>
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">
                                <a href="javacsript:void(0)" onclick="return getUrls('tag', this);">人气</a>
                            </div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                </div>
                @if (ViewBag.Keyword != "")
                {
                    <div class="flex-col"></div>
                    <div class="texta-c px14 clr"><span style="color:red">@(ViewBag.Keyword)</span>为您选出<span style="color:red">@(p.SumCount)</span>款</div>
                }
                <div class="flex-col"></div>
                <div class="flex-row">
                    <div class="px14" style="line-height:.4rem">关键字：</div>
                    <div style="background:#fff;height: .4rem;width: 1.3rem;border: 1px solid #ddd;margin-right:.2rem">
                        <input class="px14 color_3" style="width: 1rem;border:0px;background:#fff;padding: .1rem;line-height: .2rem;height: .2rem" type="text">
                    </div>
                </div>
            </div>
            <div class="div-h-2"></div>
            <div class="cell-list">
                @if (proList != null && proList.Count > 0)
                {
                    foreach (ProductEntity entity in proList)
                    {
                        <div class="li">
                            <a href="/@(entity.ProductID).html" target="_blank">
                                <img src="@entity.Images" alt="">
                            </a>
                            <div class="div-h-2"></div>
                            <div class="px18 color_7 texta-c">@entity.Author @entity.ProductName</div>
                            <div class="div-h-2"></div>
                            <div class="px16 color_7 texta-c actcolor">NO:@entity.ProductID</div>
                            <div class="div-h-2"></div>
                            <div class="zxbt" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')">点击咨询</div>
                        </div>
                    }

                }

            </div>
            <!-- 分页 -->
            @{ Html.RenderPartial("../Pager_pc", p); }

        </div>
    </div>
</div>
