@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_shopdetail";
    Layout = "~/Views/Shared/_Layout_PC_web.cshtml";
    ProductEntity entity = (ProductEntity)ViewBag.ProductInfo;
    List<ProductEntity> listPro = (List<ProductEntity>)ViewBag.ListByAuthor;//
}
<head>
    <meta charset="utf-8">
    @if (entity != null)
    {
        <title>【@entity.Author 】@entity.ProductName —建盏天下</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="建盏名家,@entity.Author ,@entity.Type2 ,@entity.Type3 ,@entity.MarketPrice " />
        <meta name="Description" content="【@entity.Author 】@entity.ProductName ,@entity.Volume @StringHelper.NoHTML(entity.summary) " />
    }
    @*<link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">*@
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_shopdetail.css" type="text/css">
</head>


<div class="body" style="margin-top:.25rem">
    <div class="flex-row">
        <a href="/product_list.html">建盏商城首页</a>
        <div>&nbsp; &gt;&nbsp; </div>
        <a href="">@entity.Author 作品</a>
    </div>
    <div class="div-h-2"></div>

    @if (entity != null)
    {
        <input type="hidden" id="Hid_ProductID" value="@entity.ProductID">
        <div class="flex-row jz-body">
            <div class="detail flex-row">
                <div class="left">
                    <img style="width:5rem" id="img_urls" src="@entity.Images" alt="">
                    <div class="div-h-4"></div>
                    <div class="swiper_container_d swiper-container-horizontal" id="pb2">
                        <div class="swiper-wrapper">
                            @if (entity.lstImagesUrl != null && entity.lstImagesUrl.Count > 0)
                            {
                                foreach (string str in entity.lstImagesUrl)
                                {
                                    <div class="swiper-slide swiper-slide-active" style="width: 89px; margin-right: 28px;">
                                        <img src="@str" onclick="javascript: ShowImage('@str')" alt="">
                                    </div>
                                }
                            }

                        </div>
                        <div id="dnext" class="swiper-button-next"></div>
                        <div id="dprev" class="swiper-button-prev swiper-button-disabled"></div>
                    </div>
                </div>
                <div style="width:1px;background:#ddd"></div>
                <div class="right flex-col" style="margin-left:.3rem">
                    <div style="height:22px;
                 font-size:22px;
                 font-family:PingFang-SC-Medium;
                 font-weight:500;
                 color:rgba(25,25,25,1);
                 line-height:24px">@entity.ProductName【@entity.Author】</div>
                <div class="div-h-2"></div>
                <div style="height:16px;
                font-size:16px;
                font-family:PingFang-SC-Medium;
                font-weight:500;
                color:rgba(168,22,34,1);
                line-height:24px">编号：@entity.ProductID</div>
                <div class="div-h-2"></div>
                <div style="
                font-size:16px;
                font-family:PingFang-SC-Regular;
                font-weight:400;
                color:rgba(117,117,117,1);
                line-height:31px;padding-right: .3rem;">
                    @Html.Raw(entity.Introduction)
                </div>
                <div class="div-h-1"></div>
                <div class="flex-row">
                    <div style="width:3.64rem">
                        <div class="flex-row" style="background:#f7f7f7;height: .75rem;padding: 0 .3rem">
                            <div class="flex-col">
                                <div class="clamp1" style="height:.375rem;line-height: .375rem;text-align: left">器型：@entity.Type3</div>
                                <div class="clamp1" style="height:.375rem;line-height: .375rem;text-align: left">釉色：@entity.Type2</div>
                            </div>
                            <div class="flex-col">
                                <div class="clamp1" style="height:.375rem;line-height: .375rem;text-align: left">尺寸：@entity.Volume</div>
                                <div class="clamp1" style="height:.375rem;line-height: .375rem;text-align: left">作者：@entity.Author</div>
                            </div>
                        </div>
                        <div class="div-h-2"></div>
                        <div onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')" style="height:.45rem;background:#B32735;color: #fff;line-height: .45rem;text-align:center;">
                            立即咨询
                        </div>
                        <div class="div-h-2"></div>
                        <div style="
                                font-size:38px;
                                font-family:E-F7;
                                font-weight:normal;
                                color:rgba(168,22,34,1);align-items: center;" class="flex-row">
                            4008-276-376<span class="px13" style="margin-left:.1rem">(24小时在线)</span>
                        </div>
                    </div>
                    <div style="margin-top:-.14rem">
                        <img style="margin-left:.2rem ;height:1.94rem;width:1.94rem" src="@ViewBag.ImageUrl" alt="">
                        <div class="px14 texta-c" style="margin-left: .2rem;color:#202020;">(识别二维码了解更多)</div>
                    </div>
                </div>
                <div class="div-h-1"></div>
                <div class="flex-row" style="background:#f7f7f7;height: .75rem;padding: 0.1rem .3rem;width: 5rem">
                    <div class="flex-col">
                        <div style="height:.375rem;line-height: .375rem;text-align: left;position: relative"><img style="bottom: 0;top: 0;position: absolute;margin: auto;height:.25rem" src="/source//static/images/pc/dc1.png" alt=""></div>
                        <div style="height:.375rem;line-height: .375rem;text-align: left;position: relative"><img style="bottom: 0;top: 0;position: absolute;margin: auto;height:.25rem" src="/source//static/images/pc/dc2.png" alt=""></div>
                    </div>
                    <div class="flex-col">
                        <div style="height:.375rem;line-height: .375rem;text-align: left;position: relative"><img style="bottom: 0;top: 0;position: absolute;margin: auto;height:.25rem" src="/source//static/images/pc/dc3.png" alt=""></div>
                        <div style="height:.375rem;line-height: .375rem;text-align: left;position: relative"><img style="bottom: 0;top: 0;position: absolute;margin: auto;height:.25rem" src="/source//static/images/pc/dc4.png" alt=""></div>

                    </div>
                    <div class="flex-col">
                        <div style="height:.375rem;line-height: .375rem;text-align: left;position: relative"><img style="bottom: 0;top: 0;position: absolute;margin: auto;height:.25rem" src="/source//static/images/pc/dc5.png" alt=""></div>
                        <div style="height:.375rem;line-height: .375rem;text-align: left;position: relative"><img style="bottom: 0;top: 0;position: absolute;margin: auto;height:.25rem" src="/source//static/images/pc/dc6.png" alt=""></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="div-h-4"></div>
    </div>

        <div class="div-h-4"></div>
        <div class="flex-row" style="align-items:center;background: #ebebeb">
            <div style="border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-right: 1px solid #ddd;" class="flex-row">
                <div class="dt-bt act-item">商品详情</div>
                <div class="dt-bt">使用方法</div>
                <div class="dt-bt">付款方式</div>
            </div>
            <div class="flex-col"></div>
            <div style="width:1.4rem;height:.3rem;background: #B32735;color:#fff;line-height: .3rem;text-align: center;border-radius: 3px;margin-right: .3rem" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')" class="px14">立即咨询</div>
            <div class="px15" style="margin-right:.3rem">免费热线：<span class="px20" style="color:#B32735">4008-276-376</span></div>
        </div>
    <!-- 内容1 -->
        <div class="content" style="background: #fff;padding: .8rem 1rem">

            <img src="/source//static/images/pc/dline.png" alt="">
            <div class="div-h-1"></div>
            <div style="font-size: .38rem;color: #666;text-align: center">详情介绍</div>
            <div class="div-h-3"></div>
            @Html.Raw(entity.summary)
            @Html.Raw(entity.ProImageDetail)

        </div>
    }
    <div class="div-h-4"></div>
    <!-- 留言 -->
    <div class="flex-row" style="background:#fff;height: 4rem;padding: .35rem .66rem;align-items: center">
        <div style="width:4.7rem">
            <img src="/source//static/images/pc/ly_1.png" alt="">
            <div class="div-h-3"></div>

            <div class="flex-row" style="align-items: center">
                <div class="px14">您的称呼：</div>
                <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text" placeholder="请输入您的称呼">
                <div class="input_radio" style="margin-left:.2rem">
                    <input type="radio" checked="checked" name="item" value="先生">
                    <label>先生</label>
                </div>
                <div class="input_radio" style="margin-left:.2rem">
                    <input type="radio" name="item" value="女士">
                    <label>女士</label>
                </div>
            </div>
            <div class="div-h-2"></div>
            <div class="flex-row" style="align-items: center">
                <div class="px14">联系电话：</div>
                <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text" id="txt_telephone" placeholder="请输入您的手机号">
                <div style="width:.2rem"></div>
                <div class="px14">微信：</div>
                <input style="padding: 0 .1rem;border:#ddd 1px solid;height: .28rem;width: 1rem;" type="text" id="txt_ContactName" placeholder="请输入您的微信">
            </div>
            <div class="div-h-2"></div>
            <div class="flex-row">
                <div class="px14">留言内容：</div>

                <textarea class="flex-col" style="height:1rem;padding: 0 .1rem;border:#ddd 1px solid;width: 1rem;" type="text" id="txt_Content" placeholder="请输入您的留言内容">                        </textarea>
                <div style="width:.92rem"></div>
            </div>
            <div class="div-h-2"></div>
            <div id="LJTJ_ZiXun" style="margin-left: .7rem;width:1.9rem;height:.4rem;background: #B32735;color:#fff;line-height: .4rem;text-align: center;border-radius: 3px;margin-right: .3rem" class="px14">立即提交</div>

        </div>
        <img src="/source//static/images/pc/ly_shu.png" alt="">
        <div class="flex-col" style="padding:0 .4rem">
            <div class="px18">拨打热线，直接沟通</div>
            <div class="div-h-1"></div>
            <div style="font-size:.22rem;color: #B32735">400-607-9898</div>
            <div class="div-h-3"></div>
            <div style="height:1px;background:#ddd;"></div>
            <div class="div-h-3"></div>
            <div class="px18">24小时客服手机号码！</div>
            <div class="div-h-1"></div>
            <div style="font-size:.22rem;color: #B32735">18221546282<span style="font-size: .18rem;color:#999;">（小沈）</span></div>
        </div>
        <img src="/source//static/images/pc/ly_shu.png" alt="">
        <div>
            <img style="margin-left:.2rem ;height:1.94rem;width:1.94rem" src="@ViewBag.ImageUrl" alt="">
            <div class="px14 texta-c" style="margin-left: .2rem;color:#202020;">(扫码查看事物视频)</div>
        </div>
    </div>
    <div class="div-h-4"></div>
    <div class="flex-row" style="width:12rem">
        <div class="flex-col" style="background:#fff">
            <div class="part1" style="background: #fff;border-top:0px">
                <div class="flex-row" style="padding:.2rem .2rem .1rem;background: #f7f7f7;border-bottom: 2px solid #333">
                    <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                font-weight:bold;">大师推荐</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <div class="div-h-2" style="background:#f7f7f7"></div>
                <div class="div-h-2" style="background:#fff"></div>
                <div class="swiper_container_suz swiper-container-horizontal" id="pb2">
                    <div class="swiper-wrapper">                       
                        @if (listPro != null && listPro.Count > 0)
                        {
                            foreach (ProductEntity item in listPro)
                            {
                                <div class="swiper-slide" style="width: 240.165px; margin-right: 1px;">
                                    <div class="c2">
                                        <a href="/@(item.ProductID).html">
                                            <img src="@item.Images" alt=""></a>
                                            <div class="px14 color_7 texta-c">@entity.Author @entity.ProductName</div>
                                            <div class="div-h-1"></div>
                                            <div class="px10 color_7 texta-c actcolor">NO:@entity.ProductID</div>
                                            <div class="div-h-1"></div>
                                            <div class="zxbt" onclick="javascript:showzx('@item.ProductID','@item.ProductName','@item.Type3','@item.Type2')">点击咨询</div>
</div>
                                </div>
                            }
                        }

                    </div>
                    <div id="snext" class="swiper-button-next"></div>
                    <div id="sprev" class="swiper-button-prev swiper-button-disabled"></div>
                </div>

            </div>
            <div class="div-h-2" style="background:#fff"></div>
        </div>
    </div>

</div>
<script src="/source/static/js/jquery-2.1.4.js"></script>
<script>
    function ShowImage(url) {
        $("#img_urls").attr('src', url);
    }
</script>