@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_shop";
    Layout = "~/Views/Shared/_Layout_PC_web.cshtml";
    List<ProductEntity> list = (List<ProductEntity>)ViewBag.souchang;
    PagerInfo p = (PagerInfo)ViewBag.Pager;
}
<head>
    <meta charset="utf-8">
    <title>建盏精品收藏馆 - 建盏天下网</title>
    <meta name="keywords" content="曜变盏,老盏,建盏孤品,建盏精品,建盏收藏" />
    <meta name="description" content="建盏精品收藏馆汇集了一线大师名家直供的第一手精品建盏：获奖建盏、各大博物馆收藏建盏、拍卖精品、孤品建盏、专利建盏，曜变盏，老盏等价格、收藏、名家押窑和私人定制服务。" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_souchang.css" type="text/css">
</head>

<div class="banner">
    <img src="/source/static/images/pc/banner.jpg" alt="">
</div>

<div class="body" style="margin-top:.25rem">
    <div class="div-h-4"></div>
    <div class="flex-row" style="justify-content: center;">
        <img src="/source/static/images/pc/jx.png" alt="">
    </div>
    <div class="div-h-2"></div>
    <div class="cell-list">
        @if (list != null && list.Count > 0)
        {
            foreach (ProductEntity entity in list)
            {
                <div class="li">
                    <div class="div-h-2"></div>
                    <div class="px16 color_7 texta-c actcolor">NO:@entity.ProductID</div>
                    <a href="/@(entity.ProductID).html"><img src="@entity.Images" alt=""></a>
                    <div class="div-h-2"></div>
                    <div class="px18 color_7 texta-c">@entity.ProductName</div>
                    <div class="div-h-1"></div>
                    <div class="px16 color_7 flex-row" style="margin:0 15px">
                        <div class="flex-col texta-l clamp1" style="margin-right:10px">
                            器形:@entity.Type3
                        </div>
                       <div class="flex-col texta-l clamp1">
                            釉色:@entity.Type2
                        </div>
                    </div>
                    <div class="div-h-1"></div>
                    <div class="px16 color_7 flex-row" style="margin:0 15px">
                       <div class="flex-col texta-l clamp1" style="margin-right:10px">
                            口径:@entity.Volume
                        </div>
                        <div class="flex-col texta-l clamp1">
                            作者:@entity.Author
                        </div>
                    </div>
                    <div class="div-h-2"></div>
                    <div class="zxbt-big" onclick="javascript:showzx('@entity.ProductID','@entity.ProductName','@entity.Type3','@entity.Type2')">点击咨询</div>
                </div>
            }
        }
    </div>
    <!-- 分页器 -->
    @{ Html.RenderPartial("../Pager_pc", p); }
    
</div>