@using Common;
@{
    Layout = null;
    PagerInfo p = Model as PagerInfo;
    int centSize = 10;
}
@if (p.PageCount > 1)
{
 
<div class="div-h-3"></div>
    <div class="flex-row M-box m-style" style="justify-content: flex-end">
        @if (p.PageIndex > 1)
        {
            <a href="javacsript:void(0)" onclick="return getUrl('@p.URL','@(p.PageIndex - 1)');" class="prev">&lt;</a>
        }
        @foreach (int i in p.Pages)
        {
            if (i < 0)
            {
                <a href="javacsript:void(0)">...</a>
            }
            else
            {
                <a href="javacsript:void(0)" @(i == p.PageIndex ? "class=active" : "") onclick="return getUrl('@p.URL','@i');" data-page="@i">@i</a>
            }
        }
        @if (p.PageIndex < p.PageCount)
        {
            <a href="javacsript:void(0)" onclick="return getUrl('@p.URL','@(p.PageIndex + 1)');" class="next">&gt;</a>
        }
    </div>

}
<script type="text/javascript">
    function getUrl(url, index)
    {
        var result = url;
        var thisUrl = window.location.href.split("?"), queryString = "";
        if (thisUrl.length > 1) {
            queryString = thisUrl[1];
            var cq = queryString.replace(/p=\d{0,9}&?/g, "");
            var newq = cq.length > 0 ? "p=" + index+"&" : "p=" + index;
            queryString = newq + cq;
            result = thisUrl[0] + "?" + queryString;
        }
        else {
            result = url + "?p=" + index;
        }
        window.location.href = result;

        return false;

    }
</script>
